// Variaveis
$color__primary: #9C30B3;
$color__secondary: #ffffff;
$background__primary: #262626;
$black: #000;

// Reset Básico
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pulse-lamina {
    max-width: 1920px;
    margin: 0 auto;
    background-color: $background__primary;
    display: grid;

    & * {
        box-sizing: border-box;
    }
    
    & h3,
    & h4,
    & h5, & h6, & p {
        margin: 0;
        padding: 0;
    }
    
    // Textos
    & .feature__title {
        font-size: 60px;
        font-weight: 700;
        color: $color__primary;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            margin-bottom: 7px !important;
        }
    }
    
    & .feature__description {
        font-size: 30px;
        font-weight: 400;
        color: $color__secondary;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
    
    & .image {
        width: 100%;
        height: auto;
        max-width: 100%;

        @media screen and (max-width: 768px) {
            border-radius: 5px !important;
        }
    }

    & .min-height-text {
        min-height: 383px;
        background-color: $black;
        border-radius: 36px;
        
        @media screen and (max-width: 768px) {
            background-color: transparent;
            min-height: 0;
        }
    }

    & .box__image {
        background-color: $black;
        border-radius: 36px;
    }

    & .video-youtube,
    & .video {
        border: none;
        border-radius: 33px;

        @media screen and (max-width: 768px) {
            max-height: 358px;
            border-radius: 5px !important;
        }
    }

    & .show-mobile {
        display: none !important;

        @media screen and (max-width: 768px) {
            display: flex !important;
        }
    }

    & section {
        padding: 15px 0;
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;

        @media screen and (min-width: 769px) {
            margin: 0 auto;
            padding-left: 40px;
            padding-right: 40px;
        }

        @media screen and (max-width: 768px) {
            padding: 0 10px;
            margin: 0 auto;
            max-width: 320px;
        }

        @media screen and (max-width: 340px) {
            margin: 0 10px;
        }
    }

    & .dobra-01 {
        padding: 0 40px;
        margin-top: 40px;

        @media screen and (max-width: 768px) {
            padding: 0 10px;
            margin: 0 auto;
        }

        @media screen and (max-width: 340px) {
        }

        & .feature__content {

            @media screen and (max-width: 768px) {
            }

            & .image {

                @media screen and (max-width: 768px) {
                    content: url("./assets/images/dobra-01-tc311-tc314-banner-mobile.png");
                }
            }
        }
    }

    & .dobra-02 {
        overflow: hidden;

        @media screen and (max-width: 991px) {
            padding-top: 46px;
            padding-bottom: 46px;
            padding-left: 10px;
            padding-right: 10px;
        }

        & .feature__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 29px;
            justify-items: center;
            margin: 0 auto;

            @media screen and (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                max-width: 320px;
            }

            & .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 22px;
                text-align: center;
                max-width: 345px;
                width: 100%;
                height: 345px;
                background-color: $black;
                border-radius: 36px;

                @media screen and (max-width: 991px) {
                    height: auto;
                    width: 100%;
                    height: 145px;
                    width: 145px;
                    gap: 10px;
                }

                & div {
                    height: 120px;
                    max-width: 205px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    @media screen and (max-width: 991px) {
                        height: auto;
                        max-height: 64px;
                        max-width: 76px;

                        & img {
                            width: 100%;
                            max-width: 55px;
                        }
                    }
                }

                & .feature__description {
                    color: $color__secondary;
                    max-width: 250px;
                    width: 100%;
                    font-weight: 700;
                    text-align: center;
                    font-size: 25px;

                    @media screen and (max-width: 991px) {
                        font-size: 14px;
                    }
                }
 
            }

            & .card:nth-child(1) {

                & .feature__description {
                    max-width: 170px;

                    @media screen and (max-width: 991px) {
                        max-width: 88px;
                    }
                }
            }

            & .card:nth-child(2) {
                & .feature__description {
                    max-width: 180px;

                    @media screen and (max-width: 991px) {
                        max-width: 88px;
                    }
                }
            }

            & .card:nth-child(3) {
                & .feature__description {
                    max-width: 300px;

                    @media screen and (max-width: 991px) {
                        max-width: 120px;
                    }
                }
            }

            & .card:nth-child(4) {
                & .feature__description {
                    max-width: 230px;

                    @media screen and (max-width: 991px) {
                        max-width: 120px;
                    }
                }
            }

            & .card:last-child {
                @media screen and (max-width: 991px) {
                    display: none;
                }

                & .feature__description {
                    max-width: 150px;
                }
            }
        }
    }

    & .dobra-flex-column {
        
        & .feature__content {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media screen and (max-width: 768px) {
                max-width: 320px;
            }

            & .text__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                @media screen and (max-width: 768px) {
                    text-align: left;
                    align-items: flex-start;
                }

                & > * {
                    max-width: 1204px;
                }

                & .feature__title {
                    margin-bottom: 30px;
                }

                & .feature__description {
                    max-width: 1100px;

                    & span {
                        font-size: 18px;

                        @media screen and (max-width: 768px) {
                            font-size: 8px;
                        }
                    }
                }
            }

            & .image {
                border-radius: 30px;
            }

            & .video {
                width: 100%;
            }

            & .video:nth-child(2) {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }

    & .dobra-03 {
        & .feature__content {
            overflow-x: clip;

            @media screen and (max-width: 768px) {
                overflow-x: auto;
                max-width: none;
            }

            & .text__content {

                & .feature__description {
                    max-width: 1200px;
                }

                @media screen and (min-width: 768px) {
                    padding: 0 40px;
                }
            }

            & .box__image {
                max-height: 802px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                // overflow-y: hidden;

                @media screen and (max-width: 768px) {
                    max-height: 358px;
                    overflow: hidden;
                    align-items: center;
                    border-radius: 5px;
                }

                & .image {
                    width: 120%;
                    max-width: none;
                    height: fit-content;
                    margin-bottom: -11.2%;
                    border-radius: 60px;

                    @media screen and (max-width: 768px) {
                        transform: scale(1.2);
                        max-width: none;
                        margin-bottom: 100px;
                        height: auto;
                        max-height: none;
                        content: url("./assets/images/dobra-03-tc311-tc314-mobile.png");
                    }
                }
            }
        }
    }

    & .dobra-04 {
        & .feature__content {
            display: grid;
            grid-template-columns: 1.1fr .9fr;
            background-color: $black;
            border-radius: 36px;

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
                background-color: transparent;
                gap: 30px;
                padding-top: 46px;
                padding-bottom: 46px;
            }

            & .text__content {
                display: flex;
                align-items: center;
                padding: 60px 100px;
                background-image: url("./assets/images/dobra-04-tc311-tc314-ponto-de-luz.png");

                @media screen and (max-width: 768px) {
                    background-image: none;
                    padding: 0;
                }

                & .box__text {
                    max-width: 700px;

                    & .feature__title {
                        margin-bottom: 30px;
                        max-width: 650px;
                    }

                    & .feature__description {
                        @media screen and (max-width: 768px) {
                            max-width: 300px;
                        }
                    }
                }
            }
            
            & .box__image {

                @media screen and (max-width: 768px) {
                    background-color: $black;
                    border-radius: 5px;
                    max-height: 358px;
                }

                @media screen and (max-width: 768px) {
                    display: flex;
                    justify-content: flex-end;
                }
                
                & > .image {
                    @media screen and (max-width: 768px) {
                        height: 100%;
                        width: auto;
                    }
                }
            } 
        }
    }

    & .dobra-05 {

        & .feature__content {
            @media screen and (max-width: 768px) {
                max-width: 300px;
                width: 100%;
            }

            & .text__content {

                @media screen and (min-width: 768px) {
                    padding: 0 40px;
                }

                & .feature__description {
                    max-width: 1460px;
                }
            }

            & .box__video {

                @media screen and (max-width: 768px) {
                    border-radius: 5px;
                    min-height: 358px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                }
                

                & .video {

                    @media screen and (max-width: 768px) {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }

    & .dobra-06 {

        & .feature__content {
            padding: 120px 100px 0px 100px;
            background-color: $black;
            background-image: url("./assets/images/dobra-06-tc311-tc314-ponto-de-luz.png");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 36px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "a a"
                                 "b b"
                                 "c c";

            @media screen and (max-width: 1540px) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            @media screen and (max-width: 768px) {
                padding: 46px 0;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "a"
                                     "c"
                                     "b";
                background-color: transparent;
                background-image: none;
            }

            & .text__content {
                grid-area: a;
                align-items: flex-start;
                text-align: left;
                width: 110%;

                @media screen and (max-width: 1540px) {
                    width: 100%;
                }

                @media screen and (max-width: 768px) {
                    grid-column: 1 / 5;
                    margin-bottom: -20px;
                }

                & .feature__title {
                    max-width: none;
                }

                & .feature__description {
                    max-width: 700px;
                }
            }

            & .box__image {
                grid-area: b;
                background-color: transparent;
                display: flex;
                margin-left: -3%;
                min-height: 500px;
                margin-bottom: -18%;

                @media screen and (max-width: 1540px) {
                    min-height: 0;
                    margin-bottom: 0;
                }

                @media screen and (max-width: 768px) {
                    grid-column: 1 / 5;
                    background-color: $black;
                    border-radius: 5px;
                    height: 358px;
                    overflow: hidden;
                    flex-direction: column;
                    align-items: flex-start;
                    background-image: url("./assets/images/dobra-06-tc311-tc314-ponto-de-luz-mobile.png");
                    background-repeat: no-repeat;
                    background-position: 40%;
                    max-width: 300px;
                    justify-self: center;
                }


                & .image:nth-child(1) {
                    align-self: flex-end;
                    max-width: 286px;
                    margin-bottom: 20px;
                    width: 100%;

                    @media screen and (max-width: 1540px) {
                        min-width: 128px;
                    }

                    @media screen and (max-width: 768px) {
                        max-width: 128px;
                        margin-top: 5px;
                        margin-left: 5px;
                        align-self: flex-start;
                    }
                }
    
                & .image:nth-child(2) {
                    margin-top: -25%;
                    margin-bottom: -240px;
                    margin-left: -50px;
                    z-index: 10;
                    width: 120%;
                    max-width: 1523px;
                    height: fit-content;
    
                    @media screen and (max-width: 1540px) {
                        width: 80%;
                        margin-left: 0%;
                        margin-top: -10%;
                        margin-bottom: 0;
                        max-width: none;
                        // min-width: 900px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 145%;
                        margin-top: -130px;
                        margin-left: -35px;
                        transform: rotate(-12deg);
                    }
                }
                

                @media screen and (max-width: 768px) {
                    
                }
            }

            & > .feature__description {
                grid-area: d;
                justify-self: flex-end;
                margin-top: -6%;
                margin-top: 20px;
                margin-bottom: 90px;

                @media screen and (max-width: 1540px) {
                    margin-top: 0;
                }

                @media screen and (max-width: 768px) {
                    grid-column: 1 / 5;
                    grid-area: c;
                    justify-self: flex-start;
                    margin-bottom: -15px;
                    font-size: 9px;
                }
            }
        }
    }

    & .dobra-07 {
        
        & .feature__content {
            @media screen and (max-width: 768px) {
                max-width: 300px;
                width: 100%;
            }

            & .text__content {

                & .feature__description {
                    max-width: 1460px;
                }
            }

            & .box__video {

                @media screen and (max-width: 768px) {
                    border-radius: 5px;
                    min-height: 358px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                }
                

                & .video {

                    @media screen and (max-width: 768px) {
                        width: auto;
                        height: 100%;
                    }
                }
            }

            & iframe {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    & .dobra-08 {

        @media screen and (max-width: 768px) {
            margin-top: 46px;
        }
    }
}