body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pulse-lamina {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #262626;
  display: grid;
}
.pulse-lamina * {
  box-sizing: border-box;
}
.pulse-lamina h3, .pulse-lamina h4, .pulse-lamina h5, .pulse-lamina h6, .pulse-lamina p {
  margin: 0;
  padding: 0;
}
.pulse-lamina .feature__title {
  font-size: 60px;
  font-weight: 700;
  color: #9C30B3;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .feature__title {
    font-size: 24px;
    margin-bottom: 7px !important;
  }
}
.pulse-lamina .feature__description {
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .feature__description {
    font-size: 12px;
  }
}
.pulse-lamina .image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .image {
    border-radius: 5px !important;
  }
}
.pulse-lamina .min-height-text {
  min-height: 383px;
  background-color: #000;
  border-radius: 36px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .min-height-text {
    background-color: transparent;
    min-height: 0;
  }
}
.pulse-lamina .box__image {
  background-color: #000;
  border-radius: 36px;
}
.pulse-lamina .video-youtube, .pulse-lamina .video {
  border: none;
  border-radius: 33px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .video-youtube, .pulse-lamina .video {
    max-height: 358px;
    border-radius: 5px !important;
  }
}
.pulse-lamina .show-mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .show-mobile {
    display: flex !important;
  }
}
.pulse-lamina section {
  padding: 15px 0;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (min-width: 769px) {
  .pulse-lamina section {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina section {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 320px;
  }
}
.pulse-lamina .dobra-01 {
  padding: 0 40px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-01 {
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-01 .feature__content .image {
    content: url("./assets/images/dobra-01-tc311-tc314-banner-mobile.png");
  }
}
.pulse-lamina .dobra-02 {
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 {
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pulse-lamina .dobra-02 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 29px;
       column-gap: 29px;
  justify-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 320px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  text-align: center;
  max-width: 345px;
  width: 100%;
  height: 345px;
  background-color: #000;
  border-radius: 36px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card {
    height: auto;
    width: 100%;
    height: 145px;
    width: 145px;
    border-radius: 10px;
    gap: 10px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card div {
  height: 120px;
  max-width: 205px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card div {
    height: auto;
    max-height: 64px;
    max-width: 76px;
  }
  .pulse-lamina .dobra-02 .feature__content .card div img {
    width: 100%;
    max-width: 55px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card .feature__description {
  color: #ffffff;
  max-width: 250px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card .feature__description {
    font-size: 14px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card:nth-child(1) .feature__description {
  max-width: 170px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card:nth-child(1) .feature__description {
    max-width: 88px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card:nth-child(2) .feature__description {
  max-width: 180px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card:nth-child(2) .feature__description {
    max-width: 88px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card:nth-child(3) .feature__description {
  max-width: 300px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card:nth-child(3) .feature__description {
    max-width: 120px;
  }
}
.pulse-lamina .dobra-02 .feature__content .card:nth-child(4) .feature__description {
  max-width: 230px;
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card:nth-child(4) .feature__description {
    max-width: 120px;
  }
}
@media screen and (max-width: 991px) {
  .pulse-lamina .dobra-02 .feature__content .card:last-child {
    display: none;
  }
}
.pulse-lamina .dobra-02 .feature__content .card:last-child .feature__description {
  max-width: 150px;
}
.pulse-lamina .dobra-flex-column .feature__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-flex-column .feature__content {
    max-width: 320px;
  }
}
.pulse-lamina .dobra-flex-column .feature__content .text__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-flex-column .feature__content .text__content {
    text-align: left;
    align-items: flex-start;
  }
}
.pulse-lamina .dobra-flex-column .feature__content .text__content > * {
  max-width: 1204px;
}
.pulse-lamina .dobra-flex-column .feature__content .text__content .feature__title {
  margin-bottom: 30px;
}
.pulse-lamina .dobra-flex-column .feature__content .text__content .feature__description {
  max-width: 1100px;
}
.pulse-lamina .dobra-flex-column .feature__content .text__content .feature__description span {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-flex-column .feature__content .text__content .feature__description span {
    font-size: 8px;
  }
}
.pulse-lamina .dobra-flex-column .feature__content .image {
  border-radius: 30px;
}
.pulse-lamina .dobra-flex-column .feature__content .video {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-flex-column .feature__content .video:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-flex-column {
    display: flex;
    justify-content: center;
  }
}
.pulse-lamina .dobra-03 .feature__content {
  overflow-x: clip;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-03 .feature__content {
    overflow-x: auto;
    max-width: none;
  }
}
.pulse-lamina .dobra-03 .feature__content .text__content .feature__description {
  max-width: 1200px;
}
@media screen and (min-width: 768px) {
  .pulse-lamina .dobra-03 .feature__content .text__content {
    padding: 0 40px;
  }
}
.pulse-lamina .dobra-03 .feature__content .box__image {
  max-height: 802px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-03 .feature__content .box__image {
    max-height: 358px;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
  }
}
.pulse-lamina .dobra-03 .feature__content .box__image .image {
  width: 120%;
  max-width: none;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: -11.2%;
  border-radius: 60px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-03 .feature__content .box__image .image {
    transform: scale(1.2);
    max-width: none;
    margin-bottom: 100px;
    height: auto;
    max-height: none;
    content: url("./assets/images/dobra-03-tc311-tc314-mobile.png");
  }
}
.pulse-lamina .dobra-04 .feature__content {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  background-color: #000;
  border-radius: 36px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content {
    grid-template-columns: 1fr;
    background-color: transparent;
    gap: 30px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
.pulse-lamina .dobra-04 .feature__content .text__content {
  display: flex;
  align-items: center;
  padding: 60px 100px;
  background-image: url("./assets/images/dobra-04-tc311-tc314-ponto-de-luz.png");
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content .text__content {
    background-image: none;
    padding: 0;
  }
}
.pulse-lamina .dobra-04 .feature__content .text__content .box__text {
  max-width: 700px;
}
.pulse-lamina .dobra-04 .feature__content .text__content .box__text .feature__title {
  margin-bottom: 30px;
  max-width: 650px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content .text__content .box__text .feature__description {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content .box__image {
    background-color: #000;
    border-radius: 5px;
    max-height: 358px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content .box__image {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-04 .feature__content .box__image > .image {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-05 .feature__content {
    max-width: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .pulse-lamina .dobra-05 .feature__content .text__content {
    padding: 0 40px;
  }
}
.pulse-lamina .dobra-05 .feature__content .text__content .feature__description {
  max-width: 1460px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-05 .feature__content .box__video {
    border-radius: 5px;
    min-height: 358px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-05 .feature__content .box__video .video {
    width: auto;
    height: 100%;
  }
}
.pulse-lamina .dobra-06 .feature__content {
  padding: 120px 100px 0px 100px;
  background-color: #000;
  background-image: url("./assets/images/dobra-06-tc311-tc314-ponto-de-luz.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a a" "b b" "c c";
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content {
    padding: 46px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "c" "b";
    background-color: transparent;
    background-image: none;
  }
}
.pulse-lamina .dobra-06 .feature__content .text__content {
  grid-area: a;
  align-items: flex-start;
  text-align: left;
  width: 110%;
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content .text__content {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content .text__content {
    grid-column: 1/5;
    margin-bottom: -20px;
  }
}
.pulse-lamina .dobra-06 .feature__content .text__content .feature__title {
  max-width: none;
}
.pulse-lamina .dobra-06 .feature__content .text__content .feature__description {
  max-width: 700px;
}
.pulse-lamina .dobra-06 .feature__content .box__image {
  grid-area: b;
  background-color: transparent;
  display: flex;
  margin-left: -3%;
  min-height: 500px;
  margin-bottom: -18%;
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content .box__image {
    min-height: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content .box__image {
    grid-column: 1/5;
    background-color: #000;
    border-radius: 5px;
    height: 358px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("./assets/images/dobra-06-tc311-tc314-ponto-de-luz-mobile.png");
    background-repeat: no-repeat;
    background-position: 40%;
    max-width: 300px;
    justify-self: center;
  }
}
.pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(1) {
  align-self: flex-end;
  max-width: 286px;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(1) {
    min-width: 128px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(1) {
    max-width: 128px;
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;
  }
}
.pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(2) {
  margin-top: -25%;
  margin-bottom: -240px;
  margin-left: -50px;
  z-index: 10;
  width: 120%;
  max-width: 1523px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(2) {
    width: 80%;
    margin-left: 0%;
    margin-top: -10%;
    margin-bottom: 0;
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content .box__image .image:nth-child(2) {
    width: 145%;
    margin-top: -130px;
    margin-left: -35px;
    transform: rotate(-12deg);
  }
}
.pulse-lamina .dobra-06 .feature__content > .feature__description {
  grid-area: d;
  justify-self: flex-end;
  margin-top: -6%;
  margin-top: 20px;
  margin-bottom: 90px;
}
@media screen and (max-width: 1540px) {
  .pulse-lamina .dobra-06 .feature__content > .feature__description {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content > .feature__description {
    grid-column: 1/5;
    grid-area: c;
    justify-self: flex-start;
    margin-bottom: -15px;
    font-size: 9px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-07 .feature__content {
    max-width: 300px;
    width: 100%;
  }
}
.pulse-lamina .dobra-07 .feature__content .text__content .feature__description {
  max-width: 1460px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-07 .feature__content .box__video {
    border-radius: 5px;
    min-height: 358px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-07 .feature__content .box__video .video {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-07 .feature__content iframe {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-08 {
    margin-top: 46px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-08 .feature__content .image {
    content: url("./assets/images/dobra-08-tc311-tc314-mobile.png");
  }
}/*# sourceMappingURL=input.css.map */