body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

h3,
h4,
h5, h6, p {
  margin: 0;
  padding: 0;
}

.feature__title {
  font-size: 40px;
  font-weight: 700;
  color: #4A0a83;
}

.feature__description {
  font-size: 21px;
  font-weight: 400;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.targus-lamina {
  max-width: 1280px;
  margin: 0 auto;
}
.targus-lamina section {
  padding: 46px 0;
}
.targus-lamina nav {
  background-color: #4A0a83;
  display: flex;
  justify-content: center;
}
.targus-lamina nav .image {
  max-width: 206px;
}
.targus-lamina .dobra-01 {
  background-image: url("./assets/images/dobra-01-l-tbb565-005-banner.png");
  background-size: auto 110%;
  background-position: center bottom;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.targus-lamina .dobra-01 * {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.targus-lamina .dobra-01 .feature__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  max-width: 526px;
  padding-bottom: 85px;
}
.targus-lamina .dobra-01 .feature__content .feature__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 115%;
  color: #ffffff;
  font-weight: 600;
}
.targus-lamina .dobra-01 .feature__content .feature__title span {
  font-size: 32px;
}
.targus-lamina .dobra-01 .feature__content .feature__description {
  font-weight: 300;
}
.targus-lamina .dobra-02 {
  background-color: #f2f2f2;
}
.targus-lamina .dobra-02 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 83px;
  justify-items: center;
  max-width: 901px;
  margin: 0 auto;
}
.targus-lamina .dobra-02 .feature__content .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  max-width: 300px;
  text-align: center;
  min-width: 253px;
}
.targus-lamina .dobra-02 .feature__content .card div {
  height: 73px;
}
.targus-lamina .dobra-02 .feature__content .card .feature__description {
  font-size: 20px;
}
.targus-lamina .dobra-02 .feature__content .card:nth-child(2) {
  grid-column: 1/2;
}
.targus-lamina .dobra-02 .feature__content .card:nth-child(2) {
  grid-column: 2/4;
  min-width: 0;
  width: 100%;
  max-width: 270px;
}
.targus-lamina .dobra-02 .feature__content .card:nth-child(3) {
  grid-column: 4/5;
  min-width: 0;
  width: 100%;
  max-width: 170px;
  min-width: 180px;
}
.targus-lamina .dobra-02 .feature__content .card:nth-child(4) {
  grid-column: 1/3;
}
.targus-lamina .dobra-02 .feature__content .card:nth-child(5) {
  grid-column: 3/5;
}
.targus-lamina .dobra-03 .feature__content {
  display: grid;
  grid-template-columns: 0.5576407507fr 0.4423592493fr;
  grid-template-areas: "a a" "b c" "b d";
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 20px;
  max-width: 1174px;
  padding: 0 20px;
  margin: 0 auto;
}
.targus-lamina .dobra-03 .feature__content .feature__title {
  grid-area: a;
}
.targus-lamina .dobra-03 .feature__content div:nth-child(2) {
  grid-area: b;
  overflow: hidden;
}
.targus-lamina .dobra-03 .feature__content div:nth-child(2) > .image {
  width: auto;
  height: 100%;
}
.targus-lamina .dobra-03 .feature__content .image:nth-child(3) {
  grid-area: c;
}
.targus-lamina .dobra-03 .feature__content .feature__description {
  grid-area: d;
  max-width: 490px;
}
.targus-lamina .dobra-04 {
  background-color: #f2f2f2;
}
.targus-lamina .dobra-04 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a c d" "b c d";
  align-items: flex-end;
  max-width: 1083px;
  margin: 0 auto;
  padding: 0 20px;
}
.targus-lamina .dobra-04 .feature__content .text__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 360px;
  grid-area: a;
}
.targus-lamina .dobra-04 .feature__content .text__content .feature__description {
  max-width: 335px;
}
.targus-lamina .dobra-04 .feature__content > p:nth-child(2) {
  grid-area: b;
  font-size: 294px;
  font-weight: 700;
  color: #fff;
  line-height: 100%;
  max-height: 300px;
}
.targus-lamina .dobra-04 .feature__content > p:nth-child(2) > span {
  font-size: 180px;
  font-weight: 700;
}
.targus-lamina .dobra-04 .feature__content > .image:nth-child(3) {
  grid-area: c;
  max-width: 372px;
}
.targus-lamina .dobra-04 .feature__content > .image:nth-child(4) {
  grid-area: d;
}
.targus-lamina .box__flex_row .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
  gap: 20px;
}
.targus-lamina .box__flex_row .feature__content .text__content {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.targus-lamina .box__flex_row .feature__content .image {
  max-width: 495px;
}
.targus-lamina .dobra-06 {
  padding: 0;
}
.targus-lamina .dobra-06 .feature__content {
  grid-template-columns: 0.8fr 1.2fr;
  justify-items: normal;
}
.targus-lamina .dobra-06 .feature__content .text__content {
  max-width: 370px;
}
.targus-lamina .dobra-06 .feature__content .image {
  max-width: 599px;
  width: 100%;
}
.targus-lamina .dobra-07 .feature__content .text__content {
  max-width: 420px;
}
.targus-lamina .dobra-07 .feature__content .text__content .feature__description {
  max-width: 350px;
}
.targus-lamina .dobra-08 {
  background-color: #f2f2f2;
}
.targus-lamina .dobra-08 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a c" "a d" "b d";
  max-width: 1035px;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0 auto;
}
.targus-lamina .dobra-08 .feature__content .text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  min-height: 278px;
}
.targus-lamina .dobra-08 .feature__content .text__content .feature__description span {
  font-weight: 600;
}
.targus-lamina .dobra-08 .feature__content .card__image {
  background-color: #4A0a83;
  border-radius: 18px;
  max-width: 494px;
  justify-self: end;
  grid-area: a;
}
.targus-lamina .dobra-08 .feature__content > .text__content:nth-child(2) {
  max-width: 600px;
  justify-self: flex-end;
  text-align: right;
  grid-area: b;
  align-items: flex-end;
}
.targus-lamina .dobra-08 .feature__content > .text__content:nth-child(2) .feature__description {
  max-width: 450px;
}
.targus-lamina .dobra-08 .feature__content .text__content:nth-child(3) {
  justify-self: flex-start;
  grid-area: c;
}
.targus-lamina .dobra-08 .feature__content .image {
  max-width: 494px;
  justify-self: start;
  grid-area: d;
}
.targus-lamina .dobra-09 .feature__content {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-areas: "b a" "b c";
  max-width: 1176px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 0 auto;
}
.targus-lamina .dobra-09 .feature__content .feature__title {
  max-width: 608px;
  align-self: flex-end;
  font-size: 45px;
  color: #000;
  margin-bottom: 15px;
  grid-area: a;
}
.targus-lamina .dobra-09 .feature__content .image {
  max-width: 508px;
  grid-area: b;
}
.targus-lamina .dobra-09 .feature__content .lista {
  grid-area: c;
  max-width: 608px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: flex-start;
}
.targus-lamina .dobra-09 .feature__content .lista li {
  font-size: 24px;
  padding: 7.5px 20px;
}
.targus-lamina .dobra-09 .feature__content .lista li:nth-child(odd) {
  background-color: #f2f2f2;
}/*# sourceMappingURL=input.css.map */