// Variaveis
$color__primary: #131D35;
$color__secondary: #ffffff;
$color__h1: #0091DA;
$color__description: #1D2D53;
$color__black: #000000;
$background__primary: #f2f2f2;

// Reset Básico
body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


.wellness-lamina {
    max-width: 1366px;
    margin: 0 auto;

    & h3,
    & h4,
    & h5, & h6, & p {
        margin: 0;
        padding: 0;
    }

    // Textos
    & .feature__title {
        font-size: 44px;
        font-style: italic;
        font-weight: 900;
        color: $color__primary;
    }

    & .feature__description {
        font-size: 26px;
        font-weight: 400;
    }

    & .image {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    @media screen and (max-width: 768px) {
        & .feature__title {
            margin-bottom: 20px;
        }

        & .feature__description {
            font-size: 18px;
        }
    }

    & section {
        padding: 90px 0;
    }

    & .dobra-01 {
        background-image: url("./assets/images/dobra-01-l-gy095-002-background.png");
        background-size: auto 110%;
        background-position: 40% bottom;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 0;

        & .feature__content {
            color: #fff;
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-width: 526px;
            margin-left: 100px;
            padding-bottom: 40px;

            & .feature__title {
                width: 100%;
                line-height: 115%;
                color: $color__h1;
                font-weight: 900;
                font-style: italic;
                font-size: 60px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }

            & .feature__description {
                color: $color__description;
                font-size: 18px;
                letter-spacing: .3rem;
                font-weight: 800;
                text-transform: uppercase;
                max-width: 387px;
            }
        }

        @media screen and (max-width: 500px) {
            background-image: url("./assets/images/dobra-01-l-gy095-002-background-mobile.png");
            background-size: auto 120%;
            background-position: center 30%;
            background-repeat: no-repeat;
            min-height: 668px;
            justify-content: flex-start;

            & .feature__content {
                margin: 0 auto;
                padding-bottom: 0;
                padding-top: 60px;
                text-align: center;

                & .feature__title {
                    font-size: 40px;
                }

                & .feature__description {
                    font-size: 15px;
                }
            }
        }
    }

    & .dobra-02 {
        & .feature__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "a c e"
                                 "a d e"
                                 "b d f";
            gap: 40px;
            justify-items: center;
            max-width: 1320px;
            padding: 0 20px;
            margin: 0 auto;

            & .card {
                width: 100%;
            }

            & .card:nth-child(1) {
                grid-area: a;
            }

            & .card:nth-child(2) {
                grid-area: b;
            }

            & .card:nth-child(3) {
                grid-area: c;
            }

            & .card:nth-child(4) {
                grid-area: d;
                align-self: flex-end;
            }

            & .card:nth-child(5) {
                grid-area: e;
            }

            & .card:nth-child(6) {
                grid-area: f;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 35px;
                grid-template-columns: 1fr;
                grid-template-areas: "a"
                                     "b"
                                     "c"
                                     "d"
                                     "e"
                                     "f";

                & .card {
                    max-width: 358px;
                }
            }
        }
    }

    & .dobra-03 {
        background-image: url("./assets/images/dobra-03-l-gy095-002-background.png");
        background-size: 100% 100%;
        padding: 0;

        @media screen and (max-width: 1080px) {
            overflow: hidden;
        }
        
        & .feature__content {
            display: flex;
            flex-direction: row;
            column-gap: 30px;
            max-width: 1185px;
            width: 100%;
            margin: 0 auto;

            & .image:nth-child(1) {
                height: 115%;
                margin-top: -5%;
            }

            & .image:nth-child(2) {
                max-width: 175px;
                width: 100%;
                align-self: center;
                padding-bottom: 50px;
                margin-left: -30px;
            }

            & .text__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 30px;
                color: #fff;
                max-width: 420px;

                & .feature__description {
                    font-size: 20px;
                    & span {
                        font-weight: 800;
                    }
                }
            }

            @media screen and (max-width: 1080px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "a a"
                                     "b c";
                row-gap: 32px;
                max-width: 420px;

                & .text__content {
                    grid-area: a;
                    justify-self: flex-start;
                    padding-top: 60px;
                    padding: 60px 24px 0 24px;
                }              

                & > .image:nth-child(1) {
                    grid-area: c;
                    margin: 0;
                    height: auto;
                    min-width: 356px;

                    @media screen and (max-width: 600px) {
                        width: 150%;
                        max-width: none;
                        margin-left: -80px;
                    }
                }

                & > .image:nth-child(2) {
                    grid-area: b;
                    margin: 0;
                    padding: 0;
                    justify-self: flex-end;
                    align-self: flex-start;
                    max-width: 186px;
                    min-width: 162px;
                    padding-left: 24px;

                    @media screen and (max-width: 500px) {
                        // margin-right: -32%;
                    }
                }
            }
        }
    }

    & .dobra-04 {
        & .feature__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            max-width: 1256px;
            margin: 0 auto;
            padding: 0 20px;

            & > .image:nth-child(1) {
                max-width: 702px;
            }

            & .text__content {
                display: flex;
                flex-direction: column;
                gap: 6px;
                max-width: 420px;
                grid-area: a;

                & .feature__title {
                    max-width: 400px;
                }
            }

            @media screen and (max-width: 1106px) {
                flex-direction: column-reverse;
                max-width: 702px;
                align-items: flex-start;
            }
        }
    }

    & .dobra-05 {
        padding: 0;

        & .feature__content {
            display: grid;
            grid-template-areas: "a c"
                                 "b c";
            gap: 40px;
            max-width: 1256px;
            margin: 0 auto;
            padding: 0 20px;

            & .text__content {
                max-width: 550px;

                @media screen and (max-width: 767px) {
                    & .feature__title {
                        font-size: 28px;
                    }
    
                    & .feature__description {
                       font-size: 16px;
                    }
                }
            }

            & .text__content:nth-child(1) {
                grid-area: a;
            }

            & .text__content:nth-child(2) {
                grid-area: b;

                & .feature__title {
                    width: 150%;

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }

                & .feature__description {
                    max-width: 450px;
                }
            }

            & .image:nth-child(3) {
                grid-area: c;
            }

            @media screen and (max-width: 1106px) {
                grid-template-columns: 1fr;
                grid-template-areas: "a"
                                     "b"
                                     "c";
                max-width: 702px;
            }
        }
    }

    & .dobra-06 {
        & .feature__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            max-width: 1256px;
            margin: 0 auto;
            padding: 0 20px;

            & > .image:nth-child(1) {
                max-width: 602px;
            }

            & .text__content {
                display: flex;
                flex-direction: column;
                gap: 6px;
                max-width: 520px;
                grid-area: a;

                & .feature__title {
                    @media screen and (max-width: 767px) {
                        max-width: 340px;
                    }

                }

                & .feature__description:nth-child(3) {
                    max-width: 502px;
                }
            }

            @media screen and (max-width: 1106px) {
                flex-direction: column-reverse;
                max-width: 702px;
                align-items: flex-start;
            }
        }
    }

    & .dobra-07 {
        padding-top: 0;

        @media screen and (max-width: 767px) {
            padding-bottom: 0;
        }

        & .feature__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 45px;
            max-width: 1104px;
            padding: 0 20px;
            margin: 0 auto;

            & .text__content {
                width: 100%;
                max-width: none;
                text-align: center;
                grid-column: 1 / 5;
                max-width: 1000px;
            }

            & .image:nth-child(2) {
                grid-column: 1 / 3;
            }

            & .image:nth-child(3) {
                grid-column: 3 / 5;
            }

            @media screen and (max-width: 1080px) {
                grid-template-columns: 1fr;

                & * {
                    grid-column: 1 / 5 !important;
                }

                & .image {
                    max-width: 500px;
                    margin: 0 auto;
                }
            }
            
            @media screen and (max-width: 500px) {
                padding: 0 10px;

                & .text__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & .feature__description {
                        max-width: 390px;
                    }
                }
            }
        
        }
    }

    & .footer {
        background-color: $color__primary;
        padding: 0;

        & .feature__content {
            max-width: 1270px;
            padding: 42px 20px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            & .feature__title {
                color: #fff;
                font-weight: 700;
                font-size: 44px;

                @media screen and (max-width: 767px) {
                    font-size: 13px;
                    min-width: 135px;
                    margin: 0;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 14px 24px;
                align-items: center;
            }
        }

        & .apps {
            display: flex;
            align-items: center;
            gap: 12px;

            @media screen and (max-width: 500px) {
                gap: 10px;

                & img {
                    min-width: 41px;
                }
            }

            & div {
                display: flex;
                align-items: center;
            }
        }
    }

}