body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.wellness-lamina {
  max-width: 1366px;
  margin: 0 auto;
}
.wellness-lamina h3, .wellness-lamina h4, .wellness-lamina h5, .wellness-lamina h6, .wellness-lamina p {
  margin: 0;
  padding: 0;
}
.wellness-lamina .feature__title {
  font-size: 44px;
  font-style: italic;
  font-weight: 900;
  color: #131D35;
}
.wellness-lamina .feature__description {
  font-size: 26px;
  font-weight: 400;
}
.wellness-lamina .image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .wellness-lamina .feature__title {
    margin-bottom: 20px;
  }
  .wellness-lamina .feature__description {
    font-size: 18px;
  }
}
.wellness-lamina section {
  padding: 90px 0;
}
.wellness-lamina .dobra-01 {
  background-image: url("./assets/images/dobra-01-l-gy095-002-background.png");
  background-size: auto 110%;
  background-position: 40% bottom;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.wellness-lamina .dobra-01 .feature__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 526px;
  margin-left: 100px;
  padding-bottom: 40px;
}
.wellness-lamina .dobra-01 .feature__content .feature__title {
  width: 100%;
  line-height: 115%;
  color: #0091DA;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
}
.wellness-lamina .dobra-01 .feature__content .feature__description {
  color: #1D2D53;
  font-size: 18px;
  letter-spacing: 0.3rem;
  font-weight: 800;
  text-transform: uppercase;
  max-width: 387px;
}
@media screen and (max-width: 500px) {
  .wellness-lamina .dobra-01 {
    background-image: url("./assets/images/dobra-01-l-gy095-002-background-mobile.png");
    background-size: auto 120%;
    background-position: center 30%;
    background-repeat: no-repeat;
    min-height: 668px;
    justify-content: flex-start;
  }
  .wellness-lamina .dobra-01 .feature__content {
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 60px;
    text-align: center;
  }
  .wellness-lamina .dobra-01 .feature__content .feature__title {
    font-size: 40px;
  }
  .wellness-lamina .dobra-01 .feature__content .feature__description {
    font-size: 15px;
  }
}
.wellness-lamina .dobra-02 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a c e" "a d e" "b d f";
  gap: 40px;
  justify-items: center;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.wellness-lamina .dobra-02 .feature__content .card {
  width: 100%;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(1) {
  grid-area: a;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(2) {
  grid-area: b;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(3) {
  grid-area: c;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(4) {
  grid-area: d;
  align-self: flex-end;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(5) {
  grid-area: e;
}
.wellness-lamina .dobra-02 .feature__content .card:nth-child(6) {
  grid-area: f;
}
@media screen and (max-width: 768px) {
  .wellness-lamina .dobra-02 .feature__content {
    width: 100%;
    padding: 0 35px;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
  .wellness-lamina .dobra-02 .feature__content .card {
    max-width: 358px;
  }
}
.wellness-lamina .dobra-03 {
  background-image: url("./assets/images/dobra-03-l-gy095-002-background.png");
  background-size: 100% 100%;
  padding: 0;
}
@media screen and (max-width: 1080px) {
  .wellness-lamina .dobra-03 {
    overflow: hidden;
  }
}
.wellness-lamina .dobra-03 .feature__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
}
.wellness-lamina .dobra-03 .feature__content .image:nth-child(1) {
  height: 115%;
  margin-top: -5%;
}
.wellness-lamina .dobra-03 .feature__content .image:nth-child(2) {
  max-width: 175px;
  width: 100%;
  align-self: center;
  padding-bottom: 50px;
  margin-left: -30px;
}
.wellness-lamina .dobra-03 .feature__content .text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  color: #fff;
  max-width: 420px;
}
.wellness-lamina .dobra-03 .feature__content .text__content .feature__description {
  font-size: 20px;
}
.wellness-lamina .dobra-03 .feature__content .text__content .feature__description span {
  font-weight: 800;
}
@media screen and (max-width: 1080px) {
  .wellness-lamina .dobra-03 .feature__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a" "b c";
    row-gap: 32px;
    max-width: 420px;
  }
  .wellness-lamina .dobra-03 .feature__content .text__content {
    grid-area: a;
    justify-self: flex-start;
    padding-top: 60px;
    padding: 60px 24px 0 24px;
  }
  .wellness-lamina .dobra-03 .feature__content > .image:nth-child(1) {
    grid-area: c;
    margin: 0;
    height: auto;
    min-width: 356px;
  }
}
@media screen and (max-width: 1080px) and (max-width: 600px) {
  .wellness-lamina .dobra-03 .feature__content > .image:nth-child(1) {
    width: 150%;
    max-width: none;
    margin-left: -80px;
  }
}
@media screen and (max-width: 1080px) {
  .wellness-lamina .dobra-03 .feature__content > .image:nth-child(2) {
    grid-area: b;
    margin: 0;
    padding: 0;
    justify-self: flex-end;
    align-self: flex-start;
    max-width: 186px;
    min-width: 162px;
    padding-left: 24px;
  }
}
.wellness-lamina .dobra-04 .feature__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}
.wellness-lamina .dobra-04 .feature__content > .image:nth-child(1) {
  max-width: 702px;
}
.wellness-lamina .dobra-04 .feature__content .text__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 420px;
  grid-area: a;
}
.wellness-lamina .dobra-04 .feature__content .text__content .feature__title {
  max-width: 400px;
}
@media screen and (max-width: 1106px) {
  .wellness-lamina .dobra-04 .feature__content {
    flex-direction: column-reverse;
    max-width: 702px;
    align-items: flex-start;
  }
}
.wellness-lamina .dobra-05 {
  padding: 0;
}
.wellness-lamina .dobra-05 .feature__content {
  display: grid;
  grid-template-areas: "a c" "b c";
  gap: 40px;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}
.wellness-lamina .dobra-05 .feature__content .text__content {
  max-width: 550px;
}
@media screen and (max-width: 767px) {
  .wellness-lamina .dobra-05 .feature__content .text__content .feature__title {
    font-size: 28px;
  }
  .wellness-lamina .dobra-05 .feature__content .text__content .feature__description {
    font-size: 16px;
  }
}
.wellness-lamina .dobra-05 .feature__content .text__content:nth-child(1) {
  grid-area: a;
}
.wellness-lamina .dobra-05 .feature__content .text__content:nth-child(2) {
  grid-area: b;
}
.wellness-lamina .dobra-05 .feature__content .text__content:nth-child(2) .feature__title {
  width: 150%;
}
@media screen and (max-width: 991px) {
  .wellness-lamina .dobra-05 .feature__content .text__content:nth-child(2) .feature__title {
    width: 100%;
  }
}
.wellness-lamina .dobra-05 .feature__content .text__content:nth-child(2) .feature__description {
  max-width: 450px;
}
.wellness-lamina .dobra-05 .feature__content .image:nth-child(3) {
  grid-area: c;
}
@media screen and (max-width: 1106px) {
  .wellness-lamina .dobra-05 .feature__content {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c";
    max-width: 702px;
  }
}
.wellness-lamina .dobra-06 .feature__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}
.wellness-lamina .dobra-06 .feature__content > .image:nth-child(1) {
  max-width: 602px;
}
.wellness-lamina .dobra-06 .feature__content .text__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 520px;
  grid-area: a;
}
@media screen and (max-width: 767px) {
  .wellness-lamina .dobra-06 .feature__content .text__content .feature__title {
    max-width: 340px;
  }
}
.wellness-lamina .dobra-06 .feature__content .text__content .feature__description:nth-child(3) {
  max-width: 502px;
}
@media screen and (max-width: 1106px) {
  .wellness-lamina .dobra-06 .feature__content {
    flex-direction: column-reverse;
    max-width: 702px;
    align-items: flex-start;
  }
}
.wellness-lamina .dobra-07 {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .wellness-lamina .dobra-07 {
    padding-bottom: 0;
  }
}
.wellness-lamina .dobra-07 .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 45px;
       column-gap: 45px;
  max-width: 1104px;
  padding: 0 20px;
  margin: 0 auto;
}
.wellness-lamina .dobra-07 .feature__content .text__content {
  width: 100%;
  max-width: none;
  text-align: center;
  grid-column: 1/5;
  max-width: 1000px;
}
.wellness-lamina .dobra-07 .feature__content .image:nth-child(2) {
  grid-column: 1/3;
}
.wellness-lamina .dobra-07 .feature__content .image:nth-child(3) {
  grid-column: 3/5;
}
@media screen and (max-width: 1080px) {
  .wellness-lamina .dobra-07 .feature__content {
    grid-template-columns: 1fr;
  }
  .wellness-lamina .dobra-07 .feature__content * {
    grid-column: 1/5 !important;
  }
  .wellness-lamina .dobra-07 .feature__content .image {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .wellness-lamina .dobra-07 .feature__content {
    padding: 0 10px;
  }
  .wellness-lamina .dobra-07 .feature__content .text__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wellness-lamina .dobra-07 .feature__content .text__content .feature__description {
    max-width: 390px;
  }
}
.wellness-lamina .footer {
  background-color: #131D35;
  padding: 0;
}
.wellness-lamina .footer .feature__content {
  max-width: 1270px;
  padding: 42px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wellness-lamina .footer .feature__content .feature__title {
  color: #fff;
  font-weight: 700;
  font-size: 44px;
}
@media screen and (max-width: 767px) {
  .wellness-lamina .footer .feature__content .feature__title {
    font-size: 13px;
    min-width: 135px;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .wellness-lamina .footer .feature__content {
    padding: 14px 24px;
    align-items: center;
  }
}
.wellness-lamina .footer .apps {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 500px) {
  .wellness-lamina .footer .apps {
    gap: 10px;
  }
  .wellness-lamina .footer .apps img {
    min-width: 41px;
  }
}
.wellness-lamina .footer .apps div {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=input.css.map */