/* RESET RETIRAR */
html, body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset básico */
  .dji-lamina * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
  }
  
  .dji-lamina {
    color: #fff;
    margin: 0 auto;
    max-width: 1920px;
  }
  
  .dji-lamina section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
  }
  
  /* Títulos, subtitulos, descrições e textos padrões */
  @font-face {
    font-family: 'Dji-Light';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/Dji-Light_0.ttf') format('truetype');
  }

  .dji-lamina h3, .dji-lamina h4, .dji-lamina h5 {
    margin-bottom: 15px;
  }

  .dji-lamina .gallery__image,
  .dji-lamina .showcase__gallery-image, 
  .dji-lamina .camera__image, 
  .dji-lamina .features-list__image, 
  .dji-lamina .telephoto__image, 
  .dji-lamina .panorama__image, 
  .dji-lamina .lidar__image, 
  .dji-lamina .return-home__image, 
  .dji-lamina .assistance__image, 
  .dji-lamina .tracking__feature-image, 
  .dji-lamina .package__image {
    max-width: 100%;
    height: auto;
    border-radius: 18px !important;
  }

  .dji-lamina .showcase__gallery-image video {
    max-width: 100%;
    width: 100%;
    border-radius: 18px !important;
  }
  
  .dji-lamina .showcase__image {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .dji-lamina p {
    margin-bottom: 20px;
  }

  .dji-lamina .feature__title {
    font-size: 40px;
    margin-bottom: 0px;
    line-height: 115%;
    font-weight: 600;
    color: #000;
  }

  .dji-lamina .feature__title > span {
    font-weight: 300;
  }

  .dji-lamina .feature__subtitle {
    font-size: 30px;
    color: #000;
  }

  .dji-lamina .feature__description {
    max-width: 672px;
    color: #000;
    opacity: 0.45;
    margin: 0 auto;
    font-weight: 600;
    line-height: 130%;
    font-size: 18px;
  }
  
  /* Banners e imagens */
  .dji-lamina .banner__image {
    width: 100%;
    height: auto;
  }

  
  /* Botões */
  .dji-lamina .showcase__buttons, 
  .dji-lamina .features-list__button, 
  .dji-lamina .return-home__button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dji-lamina .showcase__button, 
  .dji-lamina .features-list__button, 
  .dji-lamina .return-home__button {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dji-lamina .showcase__button:hover, 
  .dji-lamina .features-list__button:hover, 
  .dji-lamina .return-home__button:hover {
    background: #555;
  }
  
  /* Estrutura geral */
  .dji-lamina .feature__content, 
  .dji-lamina .camera__content, 
  .dji-lamina .features-list__content, 
  .dji-lamina .telephoto__content, 
  .dji-lamina .tracking__details, 
  .dji-lamina .package__content {
    text-align: start;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .dji-lamina .features-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .dji-lamina .tracking__details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .dji-lamina .package__gallery {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 10px;
  }

  /* Configuração do carrossel*/
  .dji-lamina .showcase {
    gap: 20px;
  }

  .dji-lamina .showcase > div.showcase__gallery,
  .dji-lamina .showcase > div.showcase__gallery > img,
  .dji-lamina .showcase > div.showcase__gallery > video {
    border-radius: 18px !important;
    max-width: 1168px;
  }

  .dji-lamina .showcase__gallery,
  .dji-lamina .showcase__gallery * { 
    border-radius: 18px !important;
  }

  .dji-lamina .showcase__gallery img {
    margin: 5px;
    transition: transform 0.2s;
  }
  
  .dji-lamina .showcase__gallery img:hover {
    transform: scale(1.025);
  }
  
  .dji-lamina .button-container {
    display: flex;
    margin-top: 20px;
  }

  .dji-lamina .category-button {
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    border: none;
    color: #00000060;
    border-bottom: 2px solid #00000033;
    transition: 200ms ease;
    display: flex;
    justify-content: center;
  }

  /* Config Showcase */
  .showcase__paragraph {
    position: relative;
    max-width: 600px;
    color: #ADADAD;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 0px;
    display: none;
}

  .showcase__paragraph.active {
    display: block;
  }
  
   /* Estilo ao passar o mouse */
  .dji-lamina .category-button:hover {
    color: #000;
    border-bottom: 2px solid #000;
  }
  
    /* Botão ativo */
  .dji-lamina .category-button.active {
    color: #000;
    border-bottom: 2px solid #000;
  }
  
    /* Descrições dobra-13 e dobra-14 */
  .dji-lamina .showcase .descriptions .feature__description {
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease;
    margin-top: 20px;
  }

  .dji-lamina .showcase .descriptions .feature__description.active {
    opacity: 100% !important;
    min-height: 35px;
  }

  /* Altura mínima para separar o texto do fundo */
  .dji-lamina .dobra-01 {
    background: url("./assets/images/dobra-01-dji-rs-4-mini-banner.png") no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .dji-lamina .dobra-01 > .feature__content {
    width: 100%;
    max-width: 1168px;
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 14px;
  }

  .dji-lamina .dobra-01 > .feature__content > span {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
    line-height: 120%; /* 24px */
    letter-spacing: -0.6px;
  } 

  .dji-lamina .dobra-01 > .feature__content > .feature__title {
    /* font-family: 'Dji-light'; */
    font-size: 72px;
    font-weight: 500;
    -webkit-text-fill-color: #fff;
    color: #fff;
  }

  .dji-lamina .dobra-01 > .feature__content > .feature__title > span {
    font-weight: 300;
  }

  .dji-lamina .dobra-01 > .feature__content > .feature__subtitle {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    margin: 0;
  }

  .dji-lamina .dobra-02 > .text__container {
    max-width: 870px;
    padding: 156px 0;
  }

  .dji-lamina .dobra-02 > .text__container > .feature__description {
    max-width: none;
    width: 100%;
  }

  .dji-lamina section.dobra-02 {
    padding: 0 21.8px;
  }

  .dji-lamina .dobra-02 .gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a c e"
                         "a d e"
                         "b d f";
    gap: 16px;
    max-width: 1170px;
    margin: auto;
  }

  .dji-lamina .dobra-02 .gallery__image {
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    position: relative;
    min-height: 314px;
    max-height: 484px;
  }

  .dji-lamina .dobra-02 .gallery__image > .feature__description {
    position: absolute;
    text-align: center !important;
    font-size: 30px;
    font-size: 29.223px;
    line-height: 110%;
    letter-spacing: -0.584px;
    margin-top: 30px;
    max-width: 300px;
  }

  .dji-lamina .dobra-02 .gallery__image-01 {
    grid-area: a;
    flex-direction: column;
    align-items: center;
  }

  .dji-lamina .dobra-02 .gallery__image-02 {
    grid-area: b;
    align-items: flex-start;
    justify-content: center;
  }

  .dji-lamina .dobra-02 .gallery__image-01 > .gallery__video video {
    height: 100%;
  }

  .dji-lamina .dobra-02 .gallery__image-03 {
    grid-area: c;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #F2F2F2;
    max-height: 312px;
  }

  .dji-lamina .dobra-02 .gallery__image-03 > .gallery__image {
    max-width: 165px;
    height: auto;
    margin-top: 40px;
  }
  
  .dji-lamina .dobra-02 .gallery__image-04 {
    grid-area: d;
    justify-content: center;
  }

  .dji-lamina .dobra-02 .gallery__image-05 {
    grid-area: e;
    justify-content: center;
  }

  .dji-lamina .dobra-02 .gallery__image-05 > .gallery__video video {
    height: 100%;
  }

  .dji-lamina .dobra-02 .gallery__image-06 {
    grid-area: f;
    justify-content: center;
  }

  /* config texts dobra-02 */

  .dji-lamina .dobra-02 .gallery__image-01 > .feature__description {
    position: absolute;
    color: #fff;
    opacity: 1;
  }

  .dji-lamina .dobra-02 .gallery__image-02 > .feature__description {
    color: #000;
    opacity: 0.85;
    max-width: 340px;
    text-align: left;
    padding: 0 30px;
  }

  .dji-lamina .dobra-02 .gallery__image-03 > .feature__description {
    padding: 0 30px;
    max-width: 400px;
    text-align: left;
    color: #000;
    opacity: 0.85;
  }

  /* quebra de linha em versão desktop */
  /* .dji-lamina .dobra-02 .gallery__image-03 > .feature__description br {
    display: block;
  }

  @media screen and (max-width: 991px) {
    .dji-lamina .dobra-02 .gallery__image-03 > .feature__description br {
      display: none;
    }
  } */

  .dji-lamina .dobra-02 .gallery__image-04 > .feature__description {
    max-width: 300px;
    color: #fff;
    opacity: 1;
  }
  
  .dji-lamina .dobra-02 .gallery__image-05 > .feature__description {
    max-width: 225px;
    color: #fff;
    opacity: 1;
  }
  
  .dji-lamina .dobra-02 .gallery__image-06 > .feature__description {
    max-width: 300px;
    color: #000;
    opacity: 0.85;
  }

  .dji-lamina .dobra-03 {
    margin-top: 100px;
    padding-top: 32px !important;
    min-height: 821px;
    position: relative;
    overflow: hidden;
  }

  .dji-lamina .dobra-03 .gallery__showcase-image {
    position: absolute;
    width: 1920px;
    display: flex;
    justify-content: center;
  }

  /* .dji-lamina .dobra-03 .showcase__gallery-image {
    width: 1920px;
    max-width: 1920px;
  } */

  .dji-lamina .dobra-03 .gradient__white-transparent__bottom-from-top {
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 100%;
    height: 222px;
    position: absolute;
    bottom: 0;
  }

  .dji-lamina .dobra-03 > .feature__content {
    display: flex;
    align-items: center;
    gap: 37px;
    min-height: 821px;
    z-index: 2;
  }

  .dji-lamina .dobra-03 > .feature__content .feature__title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    max-width: 830px;
    color: #fff;
  }

  /* quebra de linha em versão desktop */
  .quebra-linha-desktop {
    display: block;
  }

  @media screen and (max-width: 991px) {
    .quebra-linha-desktop {
      display: none;
    }
  }

  .dji-lamina .dobra-04 {
    padding: 90px 0;
  }

  .dji-lamina .dobra-04 > .feature__content {
    display: grid;
    grid-template-columns: .85fr 1.15fr;
    gap: 100px;
  }

  .dji-lamina .dobra-04 > .feature__content > .feature__title {
    font-size: 48px;
    max-width: 400px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-04 > .feature__content > .showcase__gallery-image {
    width: 100%;
    grid-column: 1 / 3;
  }

  .dji-lamina .dobra-05 {
    padding: 90px 0;
  }

  .dji-lamina .dobra-05 > .feature__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__content > .feature__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2.56px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__content > .feature__description {
    max-width: 460px;
    margin: 0;
  }

  .dji-lamina .dobra-05 > .feature__content > .gallery__showcase-image {
    max-width: 680px;
  }

  .dji-lamina .dobra-05 > .feature__content > .gallery__showcase-image video {
    width: 100%;
  }

  .dji-lamina .dobra-06 {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .dji-lamina .dobra-06 > .feature__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 110.345%;
    letter-spacing: -0.92px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    max-width: 900px;
    margin-bottom: 20px;
  }

  .dji-lamina .dobra-06 > .feature__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    max-width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content > .box__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 18px;
    padding-bottom: 30px;
    max-width: 398px;
    width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content > .box__content > .gallery__showcase-image {
    border-radius: 18px 18px 0 0;
    width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content > .box__content > .gallery__showcase-image > video {
    width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content > .box__content > .feature__description {
    font-size: 15.5px;
    padding: 0 18px;
    max-width: 505px;
    margin: 0;
  }

  .dji-lamina .dobra-06 > .feature__content > .box__content:nth-child(3) > .feature__description {
    max-width: 585px;
  }

  .dji-lamina .dobra-07 {
    padding: 90px 0;
  }

  .dji-lamina .dobra-07 > .feature__content {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .dji-lamina .dobra-07 > .feature__content > .text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .dji-lamina .dobra-07 > .feature__content > .text__content > .feature__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2.56px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-07 > .feature__content > .text__content > .feature__description {
    max-width: 460px;
    margin: 0;
  }

  .dji-lamina .dobra-07 > .feature__content > .gallery__showcase-image {
    max-width: 680px;
  }

  .dji-lamina .dobra-07 > .feature__content > .gallery__showcase-image video {
    width: 100%;
  }

  .dji-lamina .dobra-flex-row-responsive > .box__content {
    padding: 45px 0;
    display: grid;
    grid-template-columns: 1.4fr .2fr 1.4fr;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
  }

  .dji-lamina .dobra-flex-row-responsive > .box__content > .showcase__gallery-image {
    grid-area: a;
  }

  .dji-lamina .dobra-flex-row-responsive > .box__content > .text__content {
    grid-area: b;
    align-self: center;
    text-align: left;
    max-width: 455px;
  }

  .dji-lamina .dobra-flex-row-responsive > .box__content > .text__content > .feature__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 450px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-flex-row-responsive > .box__content > .text__content > .feature__description {
    font-weight: 600;
    line-height: 135%; /* 27px */
    letter-spacing: -0.4px;
  }

  .dji-lamina .dobra-08 > .box__content,
  .dji-lamina .dobra-10 > .box__content,
  .dji-lamina .dobra-12 > .box__content,
  .dji-lamina .dobra-14 > .box__content,
  .dji-lamina .dobra-18 > .box__content {
    grid-template-areas: "a a b";
  }

  .dji-lamina .dobra-09 > .box__content,
  .dji-lamina .dobra-13 > .box__content,
  .dji-lamina .dobra-17 > .box__content,
  .dji-lamina .dobra-19 > .box__content {
    grid-template-areas: "b a a";
  }

  .dji-lamina .dobra-11 {
    margin-top: 100px;
    padding-top: 32px !important;
    min-height: 821px;
    position: relative;
    overflow: hidden;
  }

  .dji-lamina .dobra-11 .gallery__showcase-image {
    position: absolute;
    width: 1920px;
    display: flex;
    justify-content: center;
  }

  /* .dji-lamina .dobra-11 .showcase__gallery-image {
    width: 1920px;
    max-width: 1920px;
  } */

  .dji-lamina .dobra-11 .gradient__white-transparent__bottom-from-top {
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 100%;
    height: 222px;
    position: absolute;
    bottom: 0;
  }

  .dji-lamina .dobra-11 > .feature__content {
    display: flex;
    align-items: center;
    gap: 37px;
    min-height: 821px;
    z-index: 2;
  }

  .dji-lamina .dobra-11 > .feature__content .feature__title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    max-width: 780px;
    color: #fff;
  }

  .dji-lamina .dobra-12 > .box__content > .showcase__gallery-image,
  .dji-lamina .dobra-13 > .box__content > .showcase__gallery-image,
  .dji-lamina .dobra-14 > .box__content > .showcase__gallery-image {
    min-width: 704px;
  }

  .dji-lamina .dobra-12 > .box__content > .text__content > .feature__title,
  .dji-lamina .dobra-13 > .box__content > .text__content > .feature__title,
  .dji-lamina .dobra-14 > .box__content > .text__content > .feature__title {
    font-size: 32px;
  }

  .dji-lamina .dobra-12 > .box__content > .text__content > .feature__description,
  .dji-lamina .dobra-13 > .box__content > .text__content > .feature__description,
  .dji-lamina .dobra-14 > .box__content > .text__content > .feature__description {
    font-size: 16px;
  }

  .dji-lamina .dobra-12 > .text__content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .dji-lamina .dobra-12 > .text__content > .feature__description {
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.6px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-12 > .text__content > .feature__title {
    color: #4F4F4F;
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.44px;
    max-width: 600px;
  }

  .dji-lamina .dobra-15 {
    padding: 90px 0;
  }

  .dji-lamina .dobra-15 > .feature__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 55px;
    column-gap: 60px;
    padding: 40px 0;
    width: 100%;
  }

  .dji-lamina .dobra-15 > .feature__content > .feature__title {
    grid-column: 1/3;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.8px;
    background: linear-gradient(90deg, #8F91AF 0%, #4C608D 78.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dji-lamina .dobra-15 > .feature__content > .feature__description {
    max-width: 920px;
    font-size: 16px;
  }

  .dji-lamina .dobra-15 > .showcase video {
    max-width: 100%;
  }

  .dji-lamina .dobra-15 .button-container > .category-button {
    font-size: 20px;
    opacity: .65;
    padding: 12px 24px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: -0.6px;
  }

  .dji-lamina .dobra-16 {
    min-height: 821px;
    position: relative;
    overflow: hidden;
  }

  .dji-lamina .dobra-16 .gallery__showcase-image {
    position: absolute;
    width: 1920px;
    display: flex;
    justify-content: center;
    margin-top: -300px;
  }

  /* .dji-lamina .dobra-16 .showcase__gallery-image {
    width: 1920px;
    max-width: 1920px;
  } */

  .dji-lamina .dobra-16 .gradient__white-transparent__bottom-from-top {
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 100%;
    height: 222px;
    position: absolute;
    bottom: 0;
  }

  .dji-lamina .dobra-16 > .feature__content {
    display: flex;
    align-items: center;
    gap: 37px;
    min-height: 821px;
    z-index: 2;
  }

  .dji-lamina .dobra-16 > .feature__content .feature__title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    max-width: 780px;
    color: #fff;
  }

  .dji-lamina .dobra-17 {
    padding-top: 90px;
  }

  .dji-lamina .dobra-18 > .box__content > .text__content > .numbers {
    margin-top: 20px;
  }

  .dji-lamina .dobra-18 > .box__content > .text__content > .numbers > .feature__description {
    opacity: 1;
  }

  .dji-lamina .dobra-18 > .box__content > .text__content > .numbers > .feature__description > span:nth-child(1) {
    color: #586485;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 105%;
  }

  .dji-lamina .dobra-18 > .box__content > .text__content > .numbers > .feature__description > span:nth-child(1) > span {
    font-size: 32px;
  }

  .dji-lamina .dobra-19 {
    padding-bottom: 45px;
  }

  .dji-lamina .dobra-19 > .box__content > .text__content > .feature__description:nth-child(3) {
    margin-top: 20px;
  }

  .dji-lamina .dobra-20--bg {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 > .dobra-20--description {
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: start;
    color: #a6a6a6;
    max-width: 550px;
    width: 100%;
    padding-top: 50px;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 > .dobra-20--description > h3 {
    font-size: 40px;
    line-height: 115%;
    color: #fff;
    font-weight: 600;
    max-width: 450px;
    margin-bottom: 50px;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 > .dobra-20--description > p {
    font-size: 20px;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 > .dobra-20--description > p:nth-child(2) {
    font-weight: 500;
    max-width: 450px;
    margin-bottom: 30px;
  }

  .dji-lamina .dobra-20--bg > .dobra-20 > .dobra-20--description > p:nth-child(3) {
    font-weight: 500;
    max-width: 550px;
    margin: 0;
  }

  .dji-lamina .tracking__feature--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dji-lamina .dobra-21 {
    padding: 32px 0;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 21.8px !important;
    padding-bottom: 115px !important;
  }

  .dji-lamina .dobra-21 > .package__content {
    width: 100%;
  }

  .dji-lamina .dobra-21 > .package__content:nth-child(3) {
    margin: 80px 0;
  }

  .dji-lamina .dobra-21 > .package__content:nth-child(5) {
    margin-top: 80px;
  }

  .dji-lamina .dobra-21 > .package__content > .feature__title {
    font-size: 36px;
    -webkit-text-fill-color: #000;
    color: #000;
    margin-bottom: 50px;
  }

  .dji-lamina .dobra-21.package > .feature__title {
    font-size: 56px;
    margin-top: 115px;
    margin-bottom: 95px;
    -webkit-text-fill-color: #000;
  }

  .dji-lamina .dobra-21 > .package__gallery {
    width: 100%;
    max-width: 1200px;
  }

  .dji-lamina .dobra-21 > .package__content > .package__gallery > div {
    text-align: center;
  }

  .dji-lamina .dobra-21 > .package__content > .package__gallery > div > .feature__description {
    color: #000;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
  }

  .dji-lamina .dobra-22 {
    background-color: #F8F8F8;
    color: #222222;
    padding: 90px 0;
  }

  .dji-lamina .dobra-22 > .feature__content,
  .dji-lamina .dobra-22 > .feature__content > ol {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .dji-lamina .dobra-22 > .feature__content p,
  .dji-lamina .dobra-22 > .feature__content > ol > li {
    margin: 0;
    font-size: 10px;
    color: #222;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.24px;
    margin: 0;
    padding: 0;
  }
  
  /* Ajustes para Mobile */
  @media screen and (max-width: 1275px) {

    .dji-lamina .dobra-22 > .feature__content > ol {
      padding-left: 14px;
    }
    /* section {
      overflow: hidden!important;
    } */

    /* .dji-lamina .dobra-25 > .feature__content > ol {
      padding-left: 20px;
    }

    .dji-lamina .dobra-24 {
      margin-left: 20px;
    } */
  }

  @media screen and (max-width: 1200px) {
    .dji-lamina section {
      padding: 40px 21.8px !important;
    }

    .dji-lamina video {
      width: 100%;
    }

    .dji-lamina .dobra-16 > .dobra-16-2 > .box__content > .gallery__showcase-image video { width: auto; border-radius: 18px; max-width: 1100px; }

    .dji-lamina .dobra-01 {
      /* background-image: url("https://djibrasil.vteximg.com.br/arquivos/dobra-01-dji-osmo-mobile-7-banner-mobile.png");
      background-size: 1371px;
      background-position: 50% 13.5%; */
      min-height: 580px;
      /* justify-content: flex-start; */
      padding: 0 !important;
    }

    .dji-lamina .dobra-01 > .feature__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      padding-top: 30px;
    }

    .dji-lamina .dobra-12 > .box__content {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .dji-lamina .dobra-12 > .feature__content {
      max-width: 1200px;
      width: 100%;
      grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

    .dji-lamina .dobra-13 > .feature__content {
      flex-direction: column;
    }

    .dji-lamina .dobra-13 > .feature__content > .text__content {
      align-items: center;
      text-align: center;
    }

    .dji-lamina .dobra-13 > .feature__content > .text__content > .feature__title {
      max-width: 650px;
    }

    .dji-lamina .dobra-17--bg {
      padding-bottom: 0 !important;
    }
  }

  @media screen and (max-width: 991px) {
    .dji-lamina .dobra-01 > .feature__content > span {
      font-size: 18.583px;
      max-width: 315px;
      text-align: center;
    }

    .dji-lamina .dobra-01 > .feature__content > .feature__title {
      font-size: 34px !important;
    }

    .dji-lamina .dobra-01 > .feature__content > .feature__subtitle {
      font-size: 20px;
    }

    .dji-lamina .dobra-03 > .text_container {
      gap: 30px;
    }

    .dji-lamina .dobra-03 > .gallery__container {
      grid-template-columns: 1fr;
      grid-template-areas: "a"
                           "b"
                           "c"
                           "d"
                           "e"
                           "f";
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image {
      display: grid;
      height: 380px;
      max-width: 380px;
      overflow: hidden;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image > .gallery__image {
      /* object-fit: cover; */
      max-width: none;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image > .feature__description {
      margin-bottom: 30px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      background: none;
      -webkit-text-fill-color: #fff;
      align-self: flex-end;
      justify-self: center;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-01 {
      overflow: visible;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-01 > .gallery__image {
      margin-right: -50px;
      margin-top: -40px;
      justify-self: center;
      width: 85%;
      height: auto;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-01 > .feature__description {
      padding-bottom: 0;
      background: var(--gradiente-texto, linear-gradient(90deg, #D5B995 0%, #B28A60 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-02 {
      justify-content: flex-end;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-02 > .gallery__image {
      justify-self: flex-end;
      width: 250%;
      height: auto;
      margin-right: -180px;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-02 > .feature__description {
      padding: 0;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-03 > .gallery__image {
      content: url("https://djibrasil.vteximg.com.br/arquivos/dobra-03-dji-osmo-mobile-7-image-3-mobile.png");
      width: 100%;
      height: auto;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-05 {
      align-items: flex-start;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-04 > .gallery__image,
    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-05 > .gallery__image,
    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-06 > .gallery__image {
      width: 100%;
      max-width: none;
      height: auto;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-04 > .gallery__image {
      align-self: flex-end;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-05 > .feature__description {
      align-self: flex-start;
      margin-top: 40px;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-06 > .gallery__image {
      align-self: flex-end;
    }

    .dji-lamina .dobra-03 > .gallery__container > .gallery__image-06 > .feature__description {
      background: var(--gradiente-texto, linear-gradient(90deg, #D5B995 0%, #B28A60 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 315px;
    }

    .dji-lamina .dobra-04 {
      margin-top: 65px;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 .gallery__container {
      grid-template-columns: 1fr;
      grid-template-areas: "a"
                           "b"
                           "c"
                           "d";
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image {
      display: flex;
      flex-direction: column;
      background: transparent;
      max-width: 423.6px;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .gallery__image {
      height: 286.5px;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 18px 18px 0 0 !important;
    }
    
    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .gallery__image img,
    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .gallery__image video {
      width: auto;
      height: 120%;
      max-width: none;
      border-radius: 0 !important;
      object-fit: cover;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .text__content {
      position: relative;
      background-color: #0000000F;
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 25px;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .text__content > .feature__title {
      color: #000;
      font-weight: 600;
      font-size: 24px !important;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image > .text__content > .feature__description {
      color: #000;
      font-weight: 500;
      margin: 0;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-01 > .gallery__image {
      justify-content: center;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-01 > .gallery__image video {
      height: 100%;
      width: auto;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-02 > .gallery__image img {
      content: url("https://djibrasil.vteximg.com.br/arquivos/dobra-07-dji-osmo-mobile-7-image-2-mobile.png");
      height: auto;
      width: 100%;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-03 > .gallery__image img {
      margin-left: -50px;
      height: 110%;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-04 > .gallery__image {
      justify-content: center;
    }

    .dji-lamina .dobra-07 > .dobra-07-2 > .gallery__container > .gallery__image-04 > .gallery__image img {
      margin-top: -80px;
      height: 130%;
    }

    .dji-lamina .dobra-08 > .feature__content > .feature__title {
      max-width: 330px;
      font-size: 40px;
    }

    .dji-lamina .dobra-08 > .feature__content > .box__content {
      grid-template-columns: 1fr;
      grid-template-areas: "b"
                           "a" !important;
      gap: 15px;
      max-width: 380px;
      gap: 40px;
    }

    .dji-lamina .dobra-08 > .feature__content > .box__content > .feature__description {
      font-size: 16px;
    }

    .dji-lamina .dobra-09 > .feature__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .dji-lamina .dobra-09 > .feature__content > .text__content {
      align-items: center;
      gap: 36px;       
    }

    .dji-lamina .dobra-09 > .feature__content > .text__content > .feature__title {
      font-size: 40px;
      max-width: 320px;
      min-width: 0;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description {
      margin-bottom: 50px;
    }

    .dji-lamina .dobra-17--bg {
      padding: 0 21.8px !important;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 {
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description {
      width: auto;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description > h3 {
      font-size: 28px;
      max-width: 339px;
      margin-bottom: 30px;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description > p {
      font-size: 16px;
      max-width: 370px !important;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description > p:nth-child(2) {
      font-weight: 700;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .dobra-17--description > p:nth-child(3) {
      opacity: 90%;
      max-width: 355px !important;
    }

    .dji-lamina .dobra-17--bg > .dobra-17 > .showcase__gallery-image {
      max-width: 345px;
    }
  }

  @media screen and (max-width: 890px) {
    .dji-lamina .dobra-02 {
      padding: 80px 0;
    }

    .dji-lamina .dobra-11 > .dobra-11-3 > .box__content,
    .dji-lamina .dobra-11 > .dobra-11-4 > .box__content {
      grid-template-columns: 1fr;
      grid-template-areas: "b"
                           "a";
      gap: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .dji-lamina .dobra-11 > .dobra-11-3 > .box__content > .text__content > .feature__title,
    .dji-lamina .dobra-11 > .dobra-11-4 > .box__content > .text__content > .feature__title {
      font-size: 24px !important;
      font-weight: 600;
    }

    .dji-lamina .dobra-16 > .dobra-16-2,
    .dji-lamina .dobra-16 > .dobra-16-3 {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .dji-lamina .dobra-16 > .dobra-16-2 > .box__content,
    .dji-lamina .dobra-16 > .dobra-16-3 > .box__content {
      grid-template-columns: 1fr;
      grid-template-areas: "b"
                           "a";
    }

    .dji-lamina .dobra-16 > .dobra-16-2 > .box__content > .text__content > .feature__title,
    .dji-lamina .dobra-16 > .dobra-16-3 > .box__content > .text__content > .feature__title {
      font-size: 24px !important;
    }

    .dji-lamina .dobra-16 > .dobra-16-2 > .box__content > .gallery__showcase-image video {
      max-height: 254px;
    }

    .dji-lamina .dobra-16 > .dobra-16-3 > .box__content {
      width: 100%;
      max-width: 508px;
    }

    .dji-lamina .dobra-16 > .dobra-16-3 > .box__content > .text__content {
      margin: 0;
    }

    .dji-lamina .dobra-16 > .dobra-16-3 > .box__content > .gallery__showcase-image {
      max-width: none;
    }
  }

  @media screen and (max-width: 767px) {
    h3.feature__title {
      font-size: 40px !important;
    }

    .dji-lamina .feature__description {
      font-size: 16px;
    }

    .dji-lamina .dobra-01 > span {
      font-size: 14px;
      padding-top: 50px;
    }

    .dji-lamina .dobra-01 > .feature__title {
      font-size: 54px !important;
      line-height: 24px;
      padding-left: 0;
      padding-right: 0;
    }

    .dji-lamina .dobra-01 > .feature__subtitle {
      font-size: 20px;
      margin-top: 0px;
    }

    .dji-lamina section.dobra-02 {
      padding: 70px 21.8px;
    }

    .dji-lamina .dobra-02 > .text_container > .feature__description {
      font-size: 16px;
      max-width: 335px;
    }

    .dji-lamina .dobra-02 > .text_container > .feature__title {
      margin-top: 20px;
    }

    .dji-lamina .dobra-03 > .feature__content {
      gap: 30px;
    }

    .dji-lamina .dobra-03 .feature__content > .feature__title {
      max-width: none;
    }

    .dji-lamina .dobra-03 > .feature__content > .text__container > .feature__subtitle {
      font-size: 22px
    }

    .dji-lamina .dobra-04 > .feature__content .feature__title {
      margin-top: 80px;
      max-width: 350px;
    }

    .dji-lamina .dobra-04 .showcase__gallery-image > video {
      width: 1650px;
    }

    .dji-lamina .dobra-05 > .dobra-05-2 > .feature__content,
    .dji-lamina .dobra-05 > .dobra-05-3 > .feature__content {
      grid-template-columns: 1fr;
      grid-template-areas: "a"
                           "b"
                           "c";
      gap: 40px;
    }

    .dji-lamina .dobra-05 > .dobra-05-2 > .feature__content > .feature__title,
    .dji-lamina .dobra-05 > .dobra-05-3 > .feature__content > .feature__title {
      grid-area: a;
      font-size: 24px !important;
    }

    .dji-lamina .dobra-05 > .dobra-05-2 > .feature__content > div:nth-child(2),
    .dji-lamina .dobra-05 > .dobra-05-3 > .feature__content > div:nth-child(2) {
      grid-area: b;
    }

    .dji-lamina .dobra-05 > .dobra-05-2 > .feature__content > div:nth-child(2) > .feature__description,
    .dji-lamina .dobra-05 > .dobra-05-3 > .feature__content > div:nth-child(2) > .feature__description {
      margin: 0;
    }

    .dji-lamina .dobra-05 > .dobra-05-2 > .feature__content > .showcase__gallery-image,
    .dji-lamina .dobra-05 > .dobra-05-3 > .feature__content > .showcase__gallery-image {
      grid-area: c;
    }

    .dji-lamina .dobra-06 {
      justify-content: flex-start;
    }

    .dji-lamina .dobra-06 > .feature__content .feature__title {
      margin-top: 60px;
      max-width: 450px;
    }

    .dji-lamina .dobra-06 .showcase__gallery-image > video {
      width: 1650px;
    }

    .dji-lamina .dobra-10 {
      min-height: 750px;
    }

    .dji-lamina .dobra-10 > .feature__content .feature__title {
      max-width: 400px;
    }

    .dji-lamina .dobra-10 .gallery__showcase-image {
      width: 1400px;
      margin-top: 100px;
    }

    .dji-lamina .dobra-11 > .dobra-11-1 > .feature__content {
      padding: 40px 0;
    }

    .dji-lamina .dobra-11 > .dobra-11-1 > .feature__content > .feature__title,
    .dji-lamina .dobra-11 > .dobra-11-2 > .feature__content > .feature__title {
      font-size: 24px !important;
      font-weight: 600;
    }

    .dji-lamina .dobra-11 > .dobra-11-1 > .description-container > .showcase__paragraph {
      text-align: left;
    }

    .dji-lamina .dobra-11 > .dobra-11-2 {
      grid-template-columns: 1fr;
      grid-template-areas: "b"
                           "a"
                           "c"
                           "d";
      gap: 20px;
    }

    .dji-lamina .dobra-12 > .feature__title {
      margin-bottom: 40px;
      max-width: 340px;
      font-weight: 600;
    }

    .dji-lamina .dobra-12 > .box__content {
      max-width: 592px;
    }

    .dji-lamina .dobra-12 > .feature__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      max-width: 592px;
      margin: 0 auto;
    }

    .dji-lamina .dobra-12 > .feature__content > .feature__title {
      margin-bottom: 40px;
    }

    .dji-lamina .dobra-12 > .feature__content > .feature__title,
    .dji-lamina .dobra-12 > .box__content > .text__content > .feature__title {
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      max-width: 380px;
    }

    .dji-lamina .dobra-13 > .feature__content {
      width: 100%;
    }

    .dji-lamina .dobra-13 > .feature__content > .text__content {
      width: 100%;
    }

    .dji-lamina .dobra-13 > .feature__content > .text__content > .feature__title {
      min-width: 0;
      max-width: 380px;
    }

    .dji-lamina .dobra-13 > .feature__content > .showcase__gallery-image {
      max-height: 440px;
    }

    .dji-lamina .dobra-14 {
      align-items: flex-start;
    }

    .dji-lamina .dobra-14 > .feature__content {
      padding: 20px 0;
      justify-content: flex-start;
    }

    .dji-lamina .dobra-14 > .feature__content > .feature__title{
      font-size: 24px !important;
      max-width: 340px;

    }

    .dji-lamina .dobra-14 > .description-container > .showcase__paragraph {
      text-align: left;
    }

    .dji-lamina .dobra-15 > .feature__content {
      grid-template-columns: 1fr;
      grid-template-areas: "a"
                           "b"
                           "c";
      gap: 20px;
    }

    .dji-lamina .dobra-15 > .feature__content > .feature__title {
      grid-area: a;
      font-size: 24px !important;
    }

    .dji-lamina .dobra-15 > .feature__content > div:nth-child(2) {
      grid-area: b;
    }

    .dji-lamina .dobra-15 > .feature__content > .showcase__gallery-image {
      grid-area: c;
    }

    .dji-lamina .dobra-16 > .dobra-16-1 {
      align-items: flex-start;
    }

    .dji-lamina .dobra-16 > .dobra-16-1 > .button-container > .category-button {
      width: 120px;
    }

    .dji-lamina .dobra-16 > .dobra-16-1 > .description-container > .showcase__paragraph {
      text-align: left;
    }

    .dji-lamina .dobra-18 {
      padding-bottom: 80px !important;
    }

    .dji-lamina .dobra-18.package > .feature__title {
      margin-top: 70px;
      margin-bottom: 40px;
      text-align: start;
    }

    .dji-lamina .dobra-18 > .package__content > .feature__title {
      font-size: 24px;
      font-weight: 600;
    }

    .dji-lamina .dobra-18 .package__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .dji-lamina .dobra-18 .package__gallery > div > img {
      max-width: 185px;
    }

    .dji-lamina .dobra-18 .package__gallery > div {
      width: 185px;
      height: 255px;
    }

    .dji-lamina .dobra-19 > .feature__content {
      margin-bottom: 70px;
    }

    .dji-lamina .dobra-18 > .package__content:nth-child(3) {
      margin-top: 70px;
    }
  }

  @media screen and (max-width: 580px) {

    /* Ajuste largura Swipper Carrossel Dobra 11-1 */
    .dji-lamina .dobra-11-1 > .button-container {
      width: 100%;
      max-width: 580px;
    }

    .dji-lamina .dobra-11-1 > .button-container > .swiper-wrapper {
      width: 100%;
      max-width: 500px;
    }
  }

  @media screen and (max-width: 500px) {
    .dji-lamina .dobra-11-1 > .button-container > .swiper-wrapper {
      max-width: 380px;
    }

    .dji-lamina {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .dji-lamina > section {
      width: 100%;
    }

    .dji-lamina .dobra-02 {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }

    .dji-lamina .dobra-02 > .text__container > .feature__description {
      font-weight: 600;
      line-height: 135%;
      letter-spacing: -0.64px;
    }

    .dji-lamina .dobra-14 > .button-container > .category-button {
      padding: 12px 20px;
    }

    .dji-lamina .dobra-19 {
      padding-left: 40px !important;
      margin-left: 0;
    }

    .dji-lamina .dobra-19 > .feature__content {
      width: 100%;
    }
  }