@font-face {
  font-family: "Zodiak Variable";
  src: url("./assets/fonts/Zodiak-Variable.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Zodiak Variable Italic";
  src: url("./assets/fonts/Zodiak-VariableItalic.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 600;
}
body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.chicco-lamina {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
}
@media screen and (max-width: 991px) {
  .chicco-lamina {
    max-width: 428px;
  }
}
.chicco-lamina h3, .chicco-lamina h4, .chicco-lamina h5, .chicco-lamina h6, .chicco-lamina p {
  margin: 0;
  padding: 0;
}
.chicco-lamina .feature__image {
  max-width: 100%;
  width: 100%;
}
.chicco-lamina .text__content {
  display: flex;
  flex-direction: column;
  color: #163786;
}
.chicco-lamina .feature__title {
  font-size: 42px;
  font-weight: 700;
  font-family: "Zodiak Variable", sans-serif;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .feature__title {
    font-size: 24px;
    margin-bottom: 16px !important;
  }
}
.chicco-lamina .feature__description {
  font-size: 28px;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .feature__description {
    font-size: 14px;
  }
}
.chicco-lamina .card-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .card-mobile {
    display: inline;
  }
}
.chicco-lamina .mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .mobile {
    display: block;
  }
}
.chicco-lamina .desktop {
  display: block;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .desktop {
    display: none;
  }
}
.chicco-lamina .image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .image {
    border-radius: 5px !important;
  }
}
.chicco-lamina .video-youtube {
  border: none;
  border-radius: 33px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .video-youtube {
    max-height: 358px;
    border-radius: 5px !important;
  }
}
.chicco-lamina .video {
  border: none;
  border-radius: 33px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .video {
    border-radius: 5px !important;
  }
}
.chicco-lamina section {
  padding: 46px 0;
}
.chicco-lamina .dobra-flex-column {
  padding-top: 0;
  padding-bottom: 0;
}
.chicco-lamina .dobra-flex-column .feature__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-flex-column .feature__content {
    max-width: 377px;
    gap: 50px;
    align-items: center;
    overflow: hidden;
    padding: 44px 20px !important;
  }
}
.chicco-lamina .dobra-flex-column .feature__content .text__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-flex-column .feature__content .text__content {
    align-items: center;
  }
}
.chicco-lamina .dobra-flex-column .feature__content .text__content > * {
  max-width: 1204px;
}
.chicco-lamina .dobra-flex-column .feature__content .text__content .feature__title {
  margin-bottom: 30px;
}
.chicco-lamina .dobra-flex-column .feature__content .text__content .feature__description {
  max-width: 1200px;
}
.chicco-lamina .dobra-flex-column .feature__content .text__content .feature__description .bold {
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-flex-column .feature__content .feature__image {
    max-width: none;
  }
}
.chicco-lamina .dobra-flex-column .feature__content .video {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-flex-column .feature__content .video:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-flex-column {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .chicco-lamina .dobra-flex-row-responsive > .feature__content {
    flex-direction: row;
  }
}
.chicco-lamina .dobra-flex-row-responsive > .feature__content > .text__content {
  text-align: left;
  align-items: flex-start;
}
.chicco-lamina .dobra-01 {
  background-image: url("./assets/images/dobra-01-chicco-kory-essencial-i-size-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1080px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-01 {
    margin: 0;
    min-height: 0;
    align-items: center;
  }
}
.chicco-lamina .dobra-02 {
  background-image: url("./assets/images/dobra-02-chicco-kory-essencial-i-size-background.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-02 {
    background-image: url("./assets/images/dobra-02-chicco-kory-essencial-i-size-background-mobile.png");
  }
}
.chicco-lamina .dobra-02 > .feature__content {
  margin: 0 auto;
  padding: 120px 0px;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-02 > .feature__content {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 428px;
    margin: 0;
    padding: 0 !important;
    padding-top: 44px !important;
  }
}
.chicco-lamina .dobra-02 > .feature__content > .text__content {
  color: #fff;
  align-items: flex-end;
  text-align: right;
  max-width: 570px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-02 > .feature__content > .text__content {
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}
.chicco-lamina .dobra-02 > .feature__content > .text__content > .feature__title {
  color: #163786;
}
.chicco-lamina .dobra-02 > .feature__content > .text__content > .feature__description {
  max-width: 1300px;
  color: #000;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-02 > .feature__content > .text__content > .feature__description {
    max-width: 285px;
  }
}
.chicco-lamina .dobra-02 > .feature__content > .feature__image {
  max-width: 1000px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-02 > .feature__content > .feature__image {
    content: url("./assets/images/dobra-02-chicco-kory-essencial-i-size-mobile.png");
    max-width: 397px;
  }
}
.chicco-lamina .dobra-03 {
  background-image: url("./assets/images/dobra-03-chicco-kory-essencial-i-size-background.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-03 {
    background-color: #5578B3;
    background-image: none;
  }
}
.chicco-lamina .dobra-03 .feature__content {
  align-items: center;
  padding: 120px 40px;
  justify-content: center;
}
.chicco-lamina .dobra-03 .feature__content .text__content {
  max-width: 950px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-03 .feature__content .text__content {
    text-align: center;
    align-items: center;
  }
}
.chicco-lamina .dobra-03 .feature__content .text__content .feature__title {
  color: #FDDEB2;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-03 .feature__content .text__content .feature__title {
    max-width: 280px;
  }
}
.chicco-lamina .dobra-03 .feature__content .text__content .feature__description {
  max-width: 1248px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-03 .feature__content .text__content .feature__description {
    max-width: 300px;
  }
}
.chicco-lamina .dobra-03 .feature__content .feature__image {
  max-width: 1112px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-03 .feature__content .feature__image {
    content: url("./assets/images/dobra-03-chicco-kory-essencial-i-size-mobile.png");
  }
}
.chicco-lamina .dobra-04 {
  background-color: #5578B3;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 {
    background-color: transparent;
    background-image: url("./assets/images/dobra-04-chicco-kory-essencial-i-size-background-mobile.png");
    background-size: 100% 100%;
  }
}
.chicco-lamina .dobra-04 .feature__content {
  padding: 120px 40px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 .feature__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    max-width: none;
  }
}
.chicco-lamina .dobra-04 .feature__content .text__content {
  color: #fff;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 .feature__content .text__content {
    text-align: center;
    align-items: center;
    max-width: 350px;
  }
}
.chicco-lamina .dobra-04 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
  max-width: 1400px;
  color: #FDDEB2;
}
.chicco-lamina .dobra-04 .feature__content .text__content .feature__description {
  max-width: 1170px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 .feature__content .text__content .feature__description {
    max-width: 270px;
  }
}
.chicco-lamina .dobra-04 .feature__content .feature__image {
  max-width: 1358px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 .feature__content .feature__image {
    content: url("./assets/images/dobra-04-chicco-kory-essencial-i-size-mobile.png");
    max-width: 392px;
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-04 {
    display: flex;
    justify-content: center;
  }
}
.chicco-lamina .dobra-05 {
  background-color: #5578B3;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-05 {
    max-width: 428px;
  }
}
.chicco-lamina .dobra-05 .feature__content {
  padding: 80px 40px;
  max-width: none;
  justify-content: center;
  gap: 0;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-05 .feature__content {
    max-width: 428px;
  }
}
.chicco-lamina .dobra-05 .feature__content .text__content {
  color: #fff;
  margin: 80px 40px;
  max-width: 650px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-05 .feature__content .text__content {
    text-align: center;
    align-items: center;
    justify-self: center;
    max-width: 350px;
    margin: 80px auto;
    margin-top: 0;
  }
}
.chicco-lamina .dobra-05 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
  max-width: 1400px;
}
.chicco-lamina .dobra-05 .feature__content .text__content .feature__description {
  max-width: 1100px;
}
.chicco-lamina .dobra-05 .feature__content > .feature__image {
  max-width: 600px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-05 .feature__content > .feature__image {
    max-width: 392px;
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-05 {
    display: flex;
    justify-content: center;
  }
}
.chicco-lamina .dobra-06 .feature__content {
  align-items: center;
  padding: 80px 40px;
  gap: 0;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 .feature__content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 !important;
  }
}
.chicco-lamina .dobra-06 .feature__content .text__content {
  max-width: 1100px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 .feature__content .text__content {
    text-align: center;
    align-items: center;
    max-width: 305px;
  }
}
.chicco-lamina .dobra-06 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
  color: #163786;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 .feature__content .text__content .feature__title {
    max-width: 250px;
  }
}
.chicco-lamina .dobra-06 .feature__content .text__content .feature__description {
  max-width: 1000px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 .feature__content .text__content .feature__description {
    max-width: 240px;
  }
}
.chicco-lamina .dobra-06 .feature__content > .feature__image {
  max-width: 1197px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 .feature__content > .feature__image {
    content: url("./assets/images/dobra-06-chicco-kory-essencial-i-size-mobile.png");
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-06 {
    display: flex;
    justify-content: center;
  }
}
.chicco-lamina .dobra-07 {
  background-image: url("./assets/images/dobra-07-chicco-kory-essencial-i-size-background.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-07 {
    background-color: transparent;
    background-image: url("./assets/images/dobra-07-chicco-kory-essencial-i-size-background-mobile.png");
    background-size: 100% 100%;
  }
}
.chicco-lamina .dobra-07 .feature__content {
  align-items: center;
  flex-direction: row-reverse;
  padding: 80px 40px;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-07 .feature__content {
    flex-direction: column;
    align-items: center;
  }
}
.chicco-lamina .dobra-07 .feature__content .text__content {
  color: #fff;
  align-items: flex-end;
  text-align: end;
  max-width: 550px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-07 .feature__content .text__content {
    text-align: center;
    align-items: center;
    max-width: 305px;
  }
}
.chicco-lamina .dobra-07 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
}
.chicco-lamina .dobra-07 .feature__content .text__content .feature__description {
  max-width: 420px;
}
.chicco-lamina .dobra-07 .feature__content > .feature__image {
  max-width: 690px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-07 .feature__content > .feature__image {
    content: url("./assets/images/dobra-07-chicco-kory-essencial-i-size-mobile.png");
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-07 {
    display: flex;
    justify-content: center;
  }
}
.chicco-lamina .dobra-08 {
  background-image: url("./assets/images/dobra-08-chicco-kory-essencial-i-size-background.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 {
    background-color: #5578B3;
    background-image: none;
    background-size: 100% 100%;
  }
}
.chicco-lamina .dobra-08 .feature__content {
  align-items: center;
  flex-direction: row-reverse;
  padding: 80px 40px;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 .feature__content {
    flex-direction: column;
    align-items: center;
  }
}
.chicco-lamina .dobra-08 .feature__content .text__content {
  color: #fff;
  align-items: flex-end;
  text-align: end;
  max-width: 550px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 .feature__content .text__content {
    text-align: center;
    align-items: center;
    max-width: 300px;
  }
}
.chicco-lamina .dobra-08 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
}
.chicco-lamina .dobra-08 .feature__content .text__content .feature__description {
  max-width: 500px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 .feature__content .text__content .feature__description {
    max-width: 225px;
  }
}
.chicco-lamina .dobra-08 .feature__content > .feature__image {
  max-width: 790px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 .feature__content > .feature__image {
    content: url("./assets/images/dobra-08-chicco-kory-essencial-i-size-mobile.png");
    max-width: 387px;
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-08 {
    display: flex;
    justify-content: center;
  }
}
.chicco-lamina .dobra-09 .feature__content {
  padding: 0 40px;
  padding-top: 65px;
  padding-bottom: 25px;
  justify-content: center;
}
.chicco-lamina .dobra-09 .feature__content .text__content {
  max-width: 545px;
}
.chicco-lamina .dobra-09 .feature__content .text__content .feature__title {
  margin-bottom: 30px;
  max-width: 1400px;
  color: #163786;
}
@media screen and (min-width: 992px) {
  .chicco-lamina .dobra-09 .feature__content .text__content .feature__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-09 .feature__content .text__content .feature__title {
    font-size: 26px;
  }
}
.chicco-lamina .dobra-09 .feature__content .text__content ul {
  list-style: none;
}
.chicco-lamina .dobra-09 .feature__content .text__content .feature__description {
  max-width: 1240px;
  padding: 8px 0;
  font-size: 22px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-09 .feature__content .text__content .feature__description {
    font-size: 18px;
  }
}
.chicco-lamina .dobra-09 .feature__content .feature__image {
  max-width: 692px;
}
@media screen and (max-width: 991px) {
  .chicco-lamina .dobra-09 {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=input.css.map */