// Importação de fontes
@font-face {
  font-family: 'Segoe UI VF';
  src: url('./fonts/SegoeUI-VF.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI Variable Static Display';
  src: url('./fonts/Segoe-UI-Variable-Static-Display-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Display';
  src: url('./fonts/Segoe-UI-Variable-Static-Display-Semilight.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Display';
  src: url('./fonts/Segoe-UI-Variable-Static-Display.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Display';
  src: url('./fonts/Segoe-UI-Variable-Static-Display-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Display';
  src: url('./fonts/Segoe-UI-Variable-Static-Display-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Small';
  src: url('./fonts/Segoe-UI-Variable-Static-Small-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Small';
  src: url('./fonts/Segoe-UI-Variable-Static-Small.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Small';
  src: url('./fonts/Segoe-UI-Variable-Static-Small-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Variable Static Small';
  src: url('./fonts/Segoe-UI-Variable-Static-Small-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@mixin textColorDegrade {
    background: linear-gradient(90deg, #142B5F 0%, #2482D3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Reset básico
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ep-lamina {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    overflow: hidden;

    & section {
        margin-left: 40px;
        margin-right: 40px;
    }

    & * {
        font-family: "Segoe UI Variable Static Display", sans-serif;
        font-weight: 500;
        font-style: normal;
        box-sizing: border-box;
    }

    & h3,
    & h4,
    & h5, & h6, & p {
        margin: 0;
        padding: 0;
    }
    
    // Textos
    & .feature__title {
        font-size: 68px;
        font-weight: 400;
        line-height: 106.892%;
        color: #020202;

        @media screen and (max-width: 991px) {
            font-size: 32px;
            margin-bottom: 7px !important;
        }

        & > span {
            @include textColorDegrade();
            font-weight: 700;
        }
    }
    
    & .feature__description {
        font-size: 30px;
        font-weight: 400;
        color: #020202;

        & > span {
            font-weight: 700;
        }

        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }

    & .feature__redirect {
        text-decoration: none;
        color: #020202;
        font-size: 30px;
        padding: 15px 30px;
        border: 1px solid #000000;
        border-radius: 12px;
        width: fit-content;
    }
    
    & .feature__image {
        width: 100%;
        height: auto;
        max-width: 100%;

        @media screen and (max-width: 991px) {
            border-radius: 5px !important;
        }
    }

    & section {
        padding: 46px 0;
        width: 100%;

        @media screen and (min-width: 769px) {
            margin: 0 auto;
            // padding-left: 40px;
            // padding-right: 40px;
        }

        @media screen and (max-width: 991px) {
            padding: 0;
            margin: 0 auto;
        }

        @media screen and (max-width: 340px) {
            margin: 0 10px;
        }
    }

    
    & .dobra-flex-column {
        padding-top: 0;
        padding-bottom: 0;
        
        & .feature__content {
            display: flex;
            flex-direction: column;
            gap: 60px;

            @media screen and (max-width: 991px) {
                
            }

            & .text__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                @media screen and (max-width: 991px) {
                    text-align: left;
                    align-items: flex-start;
                }

                & > * {
                    max-width: 1204px;
                }

                & .feature__title {
                    margin-bottom: 30px;
                }

                & .feature__description {
                    max-width: 1100px;

                    & span {
                        font-size: 18px;

                        @media screen and (max-width: 991px) {
                            font-size: 8px;
                        }
                    }
                }
            }

            & .image {
                border-radius: 30px;
            }

            & .video {
                width: 100%;
            }

            & .video:nth-child(2) {
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
        }
    }

    & .dobra-01 {
        background-image: url("./assets/images/dobra-01-lp-windows-11-banner.png");
        background-size: cover;
        background-position: center 60%;
        background-repeat: no-repeat;
        min-height: 960px;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width: 991px) {
            margin: 0 auto;
            max-width: 100%;
        }

        & .feature__content {
            color: #fff;
            display: grid;
            grid-template-columns: .9fr 1.1fr;
            height: 100%;
            padding: 0 40px;

            @media screen and (max-width: 991px) {
                
            }

            & > .feature__image {
                max-width: 390px;
                grid-column: 1/3;
                justify-self: center;
                margin-top: 50px;

                @media screen and (max-width: 991px) {
                    
                }
            }

            & > .text__content {
                margin-block: 50px;
                grid-column: 2/3;
                max-width: 950px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                & > .feature__title {
                    font-size: 90px;
                    line-height: 107%;
                    letter-spacing: 0%;
                }

                & > .feature__description {
                    font-size: 42px;
                    line-height: 107%;
                    letter-spacing: 0%;
                    max-width: 850px;
                }
            }
        }

    }

    & .dobra-02 {
        overflow: hidden;
        padding-top: 120px;
        padding-bottom: 160px;
        background-image: url("./assets/images/dobra-02-lp-windows-11-background.png");
        background-size: 100% 100%;

        @media screen and (max-width: 991px) {
            padding-top: 46px;
            padding-bottom: 46px;
        }

        & .feature__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            
            & > .feature__contrast {
                padding-bottom: 30px;
                padding-inline: 84px;
                background: linear-gradient(90deg, #D5E5EF 0%, #F7FAFD 100%);
                box-shadow: 0 17px 59.7px 0 rgba(43, 100, 124, 0.39);
                border-radius: 26px;

                & > span {
                    @include textColorDegrade();
                    font-size: 150px;
                    font-weight: 700;
                }
            }

            & > .text__content {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 25px;
                max-width: 1216px;
                
                & > .feature__title {
                    font-size: 48px;
                }

                & > .feature__description {
                    font-size: 18px;
                }
            }
        }
    }

    @mixin contentTwoCols ($gridTemplateColumns) {
        display: grid;
        grid-template-columns: $gridTemplateColumns;
        width: 100%;
        max-width: 1686px;
        margin: 0 auto;
    }

    @mixin backgroundImageDobra ($urlBackground) {
        margin: 0 auto;
        background-image: $urlBackground;
        background-size: 100%;
        background-position: left;
        background-repeat: no-repeat;
    }

    & .dobra-03 {
        @include backgroundImageDobra(url(./assets/images/dobra-03-lp-windows-11-background.png));
        display: flex;
        padding-block: 203px;
        padding-inline: 48px;

        @media screen and (max-width: 991px) {
            margin: 0px auto;
        }

        & > .feature__content {
            @include contentTwoCols(.85fr 1.15fr);

            @media screen and (max-width: 991px) {
                
            }

            & > .text__content {
                max-width: 712px;
                display: flex;
                flex-direction: column;
                gap: 26px;

                & > .feature__title {
                    max-width: 420px;
                }

                & > .feature__description:nth-child(2) {
                    max-width: 650px;
                }

                & > .feature__description:nth-child(3) {
                    font-size: 15px;
                }
            }
        }
    }

    & .dobra-04 {
        @include backgroundImageDobra(url(./assets/images/dobra-04-lp-windows-11-background.png));
        display: flex;
        padding-block: 254px;
        padding-inline: 48px;

        @media screen and (max-width: 991px) {
            margin: 0px auto;
        }

        & > .feature__content {
            @include contentTwoCols(1.15fr .85fr);

            @media screen and (max-width: 991px) {
                
            }

            & > .text__content {
                grid-column: 2/3;
                max-width: 712px;
                display: flex;
                flex-direction: column;
                gap: 26px;

                // & > .feature__title {

                // }

                & > .feature__description {
                    max-width: 680px;
                }
            }
        }
    }

    & .dobra-05 {
        @include backgroundImageDobra(url(./assets/images/dobra-05-lp-windows-11-background.png));
        display: flex;
        padding-block: 270px;
        padding-inline: 48px;

        @media screen and (max-width: 991px) {
            margin: 0px auto;
        }

        & > .feature__content {
            @include contentTwoCols(.85fr 1.15fr);

            @media screen and (max-width: 991px) {
                
            }

            & > .text__content {
                max-width: 712px;
                display: flex;
                flex-direction: column;
                gap: 26px;

                & > .feature__title {
                    max-width: 420px;
                }

                & > .feature__description:nth-child(2) {
                    max-width: 650px;
                }

                & > .feature__description:nth-child(3) {
                    font-size: 15px;
                }
            }
        }
    }

    & .dobra-06 {
        padding: 0;
        max-width: 1920px;

        @media screen and (max-width: 991px) {
            
        }

        & .feature__content {
            
        }
    }

    & .dobra-07 {
        @include backgroundImageDobra(url(./assets/images/dobra-07-lp-windows-11-background.png));
        display: flex;
        padding-block: 254px;
        padding-inline: 48px;

        @media screen and (max-width: 991px) {
            margin: 0px auto;
        }

        & > .feature__content {
            @include contentTwoCols(1.15fr .85fr);

            @media screen and (max-width: 991px) {
                
            }

            & > .text__content {
                grid-column: 2/3;
                max-width: 712px;
                display: flex;
                flex-direction: column;
                gap: 26px;

                // & > .feature__title {

                // }

                & > .feature__description:nth-child(2) {
                    max-width: 700px;
                }

                & > .feature__description:nth-child(3) {
                    font-size: 15px;
                }
            }
        }
    }

    & .dobra-08 {
        max-width: 1686px;
        margin: 0 auto;

        & > .feature__content {
            @media screen and (max-width: 1698px) {
                max-width: 991px;
            }

            & > .feature__card {
                max-width: 322px;
                padding-inline: 20px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 6px;
                border: 2px solid #FFF;
                background: linear-gradient(210deg, #F5F5F5 1.14%, #F5F5F5 100%);
                box-shadow: 14px 19px 29.1px 0 rgba(0, 0, 0, 0.10);

                & > .feature__image {
                    max-width: 224px;
                }

                & > .feature__title {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    max-width: 248px;
                }

                & > .feature__redirect {
                    font-size: 20px;
                    padding: 14px 16px;
                }
            }
        }
    }

    & > .dobra-09 {
        

        & > .feature__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 93px;
            max-width: 1686px;
            margin: 0 auto;

            & > .text__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 26px;
                max-width: 1200px;
                text-align: center;

                & > .feature__description {
                    margin-bottom: 14px;
                    max-width: 990px;
                }
            }

            & > .image__content {
                @include backgroundImageDobra(url("./assets/images/dobra-09-lp-windows-11-background.png"));
                @include contentTwoCols(.85fr 1.15fr);
                gap: 20px;
                width: 100%;

                @media screen and (max-width: 1208px) {
                    @include contentTwoCols(.9fr 1.1fr);
                }

                & > .text__content {
                    padding: 256px 0 228px 75px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @media screen and (max-width: 1208px) {
                        padding: 256px 0 228px 45px;
                    }

                    & > .feature__title {
                        @include textColorDegrade;
                        max-width: 599px;
                        padding-bottom: 0;
                    }

                    & > .feature__description {
                        padding-top: 0;
                        font-size: 40px;
                        max-width: 450px;
                    }
                }
            }
        }
    }

    & .dobra-footer {

        @media screen and (max-width: 991px) {

        }
        
        & .feature__content {
            margin: 0 auto;
            max-width: 1612px;
            padding-top: 55px;
            border-top: 1px solid #C8C8C8;

            & > .text__content {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media screen and (max-width: 991px) {
                    
                }

                & > .feature__title {
                    font-size: 29px;
                    font-weight: 700;
                }

                & > ul {
                    list-style: none;
                    padding: 0;
                    
                    & > .feature__description {
                        font-weight: 400;
                        font-size: 19px;

                        & > span {
                            font-weight: 700;
                        }

                        @media screen and (max-width: 991px) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}