/* RETIRAR */

body {
  margin: 0;
  padding: 0;
}

/* /RETIRAR */

/* Reset básico */
  .dji-lamina * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
  }
  
  .dji-lamina {
    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
  }
  
  .dji-lamina section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Títulos, subtitulos, descrições e textos padrões */
  .dji-lamina h3, .dji-lamina h4, .dji-lamina h5 {
    margin-bottom: 15px;
  }
  
  .dji-lamina p {
    margin-bottom: 20px;
  }

  .dji-lamina .feature__title {
    font-size: 40px;
    margin-bottom: 0px;
    line-height: 1em;
    font-weight: 600;
    color: #000;
  }

  .dji-lamina .feature__title > span {
    font-weight: 300;
  }

  .dji-lamina .feature__subtitle {
    font-size: 30px;
  }

  .dji-lamina .feature__description {
    max-width: 672px;
    color: #000;
    margin: 0 auto;
    font-weight: 600;
    line-height: 115%;
    font-size: 20px;
  }
  
  /* Banners e imagens */
  .dji-lamina .banner__image {
    width: 100%;
    height: auto;
  }
  
  .dji-lamina .gallery__image,
  .dji-lamina .showcase__gallery-image, 
  .dji-lamina .camera__image, 
  .dji-lamina .features-list__image, 
  .dji-lamina .telephoto__image, 
  .dji-lamina .panorama__image, 
  .dji-lamina .lidar__image, 
  .dji-lamina .return-home__image, 
  .dji-lamina .assistance__image, 
  .dji-lamina .tracking__feature-image, 
  .dji-lamina .package__image {
    max-width: 100%;
    height: auto;
    border-radius: 18px !important;
  }

  .dji-lamina .showcase__gallery-image video {
    max-width: 100%;
    width: 100%;
    border-radius: 18px !important;
  }
  
  .dji-lamina .showcase__image {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Botões */
  .dji-lamina .showcase__buttons, 
  .dji-lamina .features-list__button, 
  .dji-lamina .return-home__button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dji-lamina .showcase__button, 
  .dji-lamina .features-list__button, 
  .dji-lamina .return-home__button {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dji-lamina .showcase__button:hover, 
  .dji-lamina .features-list__button:hover, 
  .dji-lamina .return-home__button:hover {
    background: #555;
  }
  
  /* Estrutura geral */
  .dji-lamina .feature__content, 
  .dji-lamina .camera__content, 
  .dji-lamina .features-list__content, 
  .dji-lamina .telephoto__content, 
  .dji-lamina .tracking__details, 
  .dji-lamina .package__content {
    text-align: start;
    max-width: 1440px;
    margin: 0 auto;
  }

  .dji-lamina .feature__content {
    width: 100%;
  }
  
  .dji-lamina .features-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .dji-lamina .tracking__details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .dji-lamina .package__gallery {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 10px;
  }

  /* Configuração do carrossel*/
  .dji-lamina .showcase {
    gap: 20px;
  }

  .dji-lamina .showcase > div.showcase__gallery,
  .dji-lamina .showcase > div.showcase__gallery > img,
  .dji-lamina .showcase > div.showcase__gallery > video {
    border-radius: 18px !important;
    max-width: 1160px;
  }

  .dji-lamina .showcase__gallery,
  .dji-lamina .showcase__gallery * { 
    border-radius: 18px !important;
  }

  .dji-lamina .showcase__gallery img {
    margin: 5px;
    transition: transform 0.2s;
  }
  
  .dji-lamina .showcase__gallery img:hover {
    transform: scale(1.025);
  }
  
  .dji-lamina .button-container {
    display: flex;
    margin-top: 20px;
  }

  .dji-lamina .category-button {
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    border: none;
    color: #00000030;
    border-bottom: 2px solid #00000030;
    transition: 200ms ease;
    display: flex;
    justify-content: center;
  }
  
   /* Estilo ao passar o mouse */
  .dji-lamina .category-button:hover {
    color: #000;
    border-bottom: 2px solid #000;
  }
  
    /* Botão ativo */
  .dji-lamina .category-button.active {
    color: #000;
    border-bottom: 2px solid #000;
  }
  
    /* Descrições dobra-13 e dobra-14 */
  .dji-lamina .showcase .descriptions .feature__description {
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease;
    margin-top: 20px;
  }

  .dji-lamina .showcase .descriptions .feature__description.active {
    opacity: 100% !important;
    min-height: 35px;
  }

  /* Altura mínima para separar o texto do fundo */
  .dji-lamina .dobra-01 {
    background: url("./assets/images/dobra-01-dji-mini-4k-background.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 24vw;
    min-height: 588px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .dji-lamina .dobra-01 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: -70px;
  }

  .dji-lamina .dobra-01 > .feature__content > .feature__title {
    font-size: 58px;
    font-weight: 600;
    -webkit-text-fill-color: #fff;
    color: #fff;
  }

  .dji-lamina .dobra-01 > .feature__content > .feature__subtitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0;
  }

  section.dobra-02 {
    padding: 120px 21.8px;
  }

  .dji-lamina .dobra-02 .gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-areas: "a a a b"
                         "c d d d"
                         "e e f f"; */
    row-gap: 45px;
    column-gap: 45px;
    max-width: 1440px;
    margin: auto;
  }

  .dji-lamina .dobra-02 > .gallery__container > .gallery__image {
    width: 100%;
    max-width: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
  }

  @media screen and (min-width: 1310px) {
    .dji-lamina .dobra-02 > .gallery__container {
      column-gap: 0;
    }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image {
      min-width: 389px;
    }
  }

  .dji-lamina .dobra-02 > .gallery__container > .gallery__image > .gallery__image {
    width: 80px;
    height: 80px;
  }

  .dji-lamina .dobra-02 > .gallery__container > .gallery__image > .feature__description {
    color: #141414;
    font-weight: 500;
    margin-bottom: 0;
  }

  .dji-lamina .dobra-02 > .gallery__container > .gallery__image > .feature__description {
    max-width: 215px;
  }

  .dji-lamina .dobra-02 .gallery__image-04 > .feature__description { max-width: 207px; }
  .dji-lamina .dobra-02 .gallery__image-06 > .feature__description { max-width: 204px; }

  .dji-lamina .dobra-03 > .feature__content {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    justify-items: center;
    align-items: center;
    margin: 0;
    max-width: 1920px;
    width: 100%;
  }

  .dji-lamina .dobra-03 > .feature__content > .feature__title {
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 25px;
    font-size: 48px;
  }
  
  .dji-lamina .dobra-03 > .feature__content > .feature__description {
    grid-column: 1/5;
    text-align: center;
    max-width: 975px;
    font-size: 24px;
  }

  .dji-lamina .dobra-03 > .feature__content > .showcase__gallery-image {
    max-width: none;
    width: 100%;
  }

  .dji-lamina .dobra-03 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 400px;
  }

  .dji-lamina .video {
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1440px;
  }

  .dji-lamina .video > .feature__description {
    margin: 0;
  }

  .dji-lamina .dobra-04 {
    margin: 120px auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  .dji-lamina .dobra-04 > .feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .dji-lamina .dobra-04 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .dji-lamina .dobra-04 > .feature__content > .text__container .feature__title {
    max-width: 650px;
  }

  .dji-lamina .dobra-04 > .feature__content > .text__container > .feature__description {
    max-width: 750px;
    margin: 0;
  }

  .dji-lamina .dobra-05 {
    margin: 120px auto;
    max-width: 1440px;
  }

  .dji-lamina .dobra-05 > .feature__content {
    display: grid;
    grid-template-columns: 1.30fr .7fr;
    align-items: center;
    column-gap: 138px;
    margin: 0;
    width: 100%;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 470px;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__container > .feature__title {
    max-width: 430px;
  }

  .dji-lamina .dobra-05 > .feature__content > .text__container > .feature__description {
    max-width: 481px;
    margin: 0;
  }

  .dji-lamina .dobra-05 > .feature__content > .showcase__gallery-image {
    width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content {
    display: grid;
    grid-template-columns: .78fr 1.22fr;
    align-items: center;
    gap: 127px;
  }

  .dji-lamina .dobra-06 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 500px;
  }

  .dji-lamina .dobra-06 > .feature__content > .text__container > .feature__title {
    max-width: 430px;
  }

  .dji-lamina .dobra-06 > .feature__content > .text__container > .feature__description {
    max-width: 500px;
    margin: 0;
  }

  .dji-lamina .dobra-06 > .feature__content > .text__container > div > .feature__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }

  .dji-lamina .dobra-06 > .feature__content > .text__container > div > .feature__description {
    font-size: 34px;
    font-weight: 600;
    color: #6DDEFF;
  }

  .dji-lamina .dobra-06 > .feature__content > .showcase__gallery-image {
    width: 100%;
  }

  .dji-lamina .dobra-06 > .feature__content > .showcase__gallery-image > video {
    border-radius: 18px !important;
  }

  .dji-lamina .dobra-07 {
    margin-top: 120px;
    position: relative;
    overflow: hidden;
  }

  .dji-lamina .dobra-07 > .feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
    position: absolute;
    margin-top: 146px;
  }

  .dji-lamina .dobra-07 > .feature__content > .feature__title,
  .dji-lamina .dobra-07 > .feature__content > .feature__description {
    color: #fff;
  }

  .dji-lamina .dobra-07 > .feature__content > .feature__title {
    font-size: 64px;
  }

  .dji-lamina .dobra-07 > .feature__content > .feature__description {
    font-size: 32px;
    font-weight: 400;
    max-width: 1000px;
  }

  .dji-lamina .dobra-07 > .showcase__gallery-image {
    width: auto;
    max-width: none;
    min-height: 460px;
  }

  .dji-lamina .dobra-07 > .showcase__gallery-image video {
    border-radius: 0 !important;
  }

  .dji-lamina .dobra-08 {
    padding: 120px 0;
  }

  .dji-lamina .dobra-08 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    width: 100%;
  }

  .dji-lamina .dobra-08 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-08 > .feature__content > .text__container > .feature__description {
    margin: 0;
    max-width: 1050px;
  }

  .dji-lamina .dobra-09 > .feature__content {
    display: grid;
    grid-template-columns: .78fr 1.22fr;
    align-items: center;
    gap: 127px;
  }

  .dji-lamina .dobra-09 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 433px;
  }

  .dji-lamina .dobra-09 > .feature__content > .showcase__gallery-image {
    width: 100%;
  }

  .dji-lamina .dobra-10 {
    margin: 120px auto;
    max-width: 1440px;
  }

  .dji-lamina .dobra-10 > .feature__content {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    align-items: center;
    column-gap: 138px;
    margin: 0;
    width: 100%;
  }

  .dji-lamina .dobra-10 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .dji-lamina .dobra-10 > .feature__content > .text__container > .feature__description {
    max-width: 450px;
    margin: 0;
  }

  .dji-lamina .dobra-10 > .feature__content > .showcase__gallery-image {
    width: 100%;
  }

  .dji-lamina .dobra-11 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
  }

  .dji-lamina .dobra-11 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-11 > .feature__content > .text__container > .feature__description {
    margin: 0;
    max-width: 1050px;
  }

  .dji-lamina .dobra-12 {
    margin-top: 120px;
    position: relative;
    overflow: hidden;
  }

  .dji-lamina .dobra-12 > .feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
    position: absolute;
    margin-top: 146px;
  }

  .dji-lamina .dobra-12 > .feature__content > .feature__title,
  .dji-lamina .dobra-12 > .feature__content > .feature__description {
    color: #fff;
  }

  .dji-lamina .dobra-12 > .feature__content > .feature__title {
    font-size: 64px;
    max-width: 850px;
  }

  .dji-lamina .dobra-12 > .feature__content > .feature__description {
    font-size: 32px;
    font-weight: 400;
    max-width: 750px;
  }

  .dji-lamina .dobra-12 > .showcase__gallery-image {
    width: auto;
    max-width: none;
    min-height: 460px;
  }

  .dji-lamina .dobra-12 > .showcase__gallery-image video {
    border-radius: 0 !important;
  }

  .dji-lamina .dobra-12 > .grandient_white_from_top {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 43.06%, #FFFFFF 95.69%);
  }

  .dji-lamina .dobra-13 {
    padding: 120px 0;
  }

  .dji-lamina .dobra-13 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
  }

  .dji-lamina .dobra-13 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-13 > .feature__content > .text__container > .feature__description {
    margin: 0;
    max-width: 1025px;
  }

  .dji-lamina .dobra-14 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
  }

  .dji-lamina .dobra-14 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-14 > .feature__content > .text__container > .feature__description {
    margin: 0;
    max-width: 1050px;
  }

  .dji-lamina .dobra-15 {
    margin: 120px auto;
  }

  .dji-lamina .dobra-15 > .feature__content {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    align-items: center;
    margin: 0;
    max-width: 1440px;
    width: 100%;
  }

  .dji-lamina .dobra-15 > .feature__content > .feature__title {
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 25px;
    font-size: 48px;
  }
  
  .dji-lamina .dobra-15 > .feature__content > .feature__description {
    grid-column: 1/5;
    text-align: center;
    max-width: 700px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 95px;
  }

  .dji-lamina .dobra-15 > .feature__content > .showcase__gallery-image {
    max-width: none;
    width: 100%;
  }

  .dji-lamina .dobra-15 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 400px;
  }

  .dji-lamina .dobra-16 > .feature__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
  }

  .dji-lamina .dobra-16 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-16 > .feature__content > .text__container > .feature__description {
    margin: 0;
    max-width: 1150px;
  }

  .dji-lamina .dobra-17 {
    margin: 120px auto;
    max-width: 1440px;
  }

  .dji-lamina .dobra-17 > .feature__content {
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    align-items: center;
    column-gap: 138px;
    margin: 0;
    width: 100%;
  }

  .dji-lamina .dobra-17 > .feature__content > .text__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .dji-lamina .dobra-17 > .feature__content > .text__container > .feature__description {
    max-width: none;
    margin: 0;
  }

  .dji-lamina .dobra-17 > .feature__content > .showcase__gallery-image {
    width: 100%;
  }

  .dji-lamina .dobra-18--bg {
    background-color: #2D2D2C;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description {
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: start;
    max-width: 700px;
    width: 100%;
    justify-self: flex-end;
    align-self: center;
    padding: 25px 0;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description > h3 {
    font-size: 40px;
    line-height: 115%;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description > p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description > p:nth-child(4) {
    font-weight: 500;
    margin: 0;
  }

  .dji-lamina .dobra-18--bg > .dobra-18 > .showcase__gallery-image {
    width: 100%;
    max-width: 800px;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .dji-lamina .tracking__feature--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dji-lamina .dobra-19 {
    padding: 32px 0;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 21.8px !important;
    padding-bottom: 115px !important;
  }

  .dji-lamina .dobra-19 > .package__content:nth-child(3) {
    margin: 80px 0;
  }

  .dji-lamina .dobra-19 > .package__content > .feature__title {
    font-size: 36px;
    -webkit-text-fill-color: #000;
    color: #000;
    margin-bottom: 50px;
  } 

  .dji-lamina .dobra-19.package > .feature__title {
    font-size: 56px;
    margin-top: 115px;
    margin-bottom: 95px;
    -webkit-text-fill-color: #000;
  }

  .dji-lamina .dobra-19 > .package__gallery {
    width: 100%;
    max-width: 1440px;
  }

  .dji-lamina .dobra-19 > .package__content > .feature__title {
    line-height: normal;
  }

  .dji-lamina .dobra-25 {
    background-color: #fff;
    color: #000000;
    margin-bottom: 32px;
  }

  .dji-lamina .dobra-25 > .feature__content,
  .dji-lamina .dobra-25 > .feature__content > ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dji-lamina .dobra-25 > .feature__content > p
  .dji-lamina .dobra-25 > .feature__content > ol > li {
    margin: 0;
    font-size: 12px;
  }
  
  /* Ajustes para Mobile */
  @media screen and (max-width: 1440px) {
    .dji-lamina section {
      padding: 40px 21.8px !important;
    }

    .dji-lamina video {
      width: 100%;
    }

    .dji-lamina .dobra-07,
    .dji-lamina .dobra-18--bg {
      padding: 0 !important;
    }

    .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description {
      padding: 21.8px;
      margin-top: 80px;
    }
  }

  @media screen and (max-width: 991px) {
    .dji-lamina .feature__title {
      font-size: 26px;
      font-weight: 600;
    }

    .dji-lamina .dobra-01 {
      min-height: 534px;
      background-image: url("./assets/images/dobra-01-dji-mini-4k-background-mobile.png");
      background-size: 100%;
      padding-top: 0 !important;
    }

    .dji-lamina .dobra-01 > .feature__content {
      align-items: center;
      justify-content: flex-start;
      margin-top: 70px;
      height: auto;
      text-align: center;
    }

    .dji-lamina .dobra-01 > .feature__content > .feature__title {
      font-size: 54px;
    }

    .dji-lamina .dobra-01 > .feature__content > .feature__subtitle {
      font-size: 28px;
    }

    .dji-lamina .dobra-03 {
      padding: 40px 0 !important;
    }

    .dji-lamina .dobra-03 > .feature__content {
      grid-template-columns: 1fr;
    }

    .dji-lamina .dobra-03 > .feature__content > .text__container {
      margin-top: 65px;
      grid-column: 1/5;
      padding: 0 21.8px;
      max-width: 425px;
      grid-row: 3/4;
    }

    .dji-lamina .dobra-03 > .feature__content > .showcase__gallery-image {
      grid-row: 4/5;
    }

    .dji-lamina .dobra-18--bg > .dobra-18 {
      grid-template-columns: 1fr;
    }

    .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description {
      justify-self: center;
    }
  }

  @media screen and (max-width: 767px) {
    .dji-lamina .feature__description {
      font-size: 16px;
      color: #000000A6;
    }

    .dji-lamina .feature__title {
      color: #000000D9;
    }

    .dji-lamina .dobra-01 > .feature__content {
      gap: 10px !important;
    }

    .dji-lamina .dobra-02 {
      margin-top: 40px;
    }

    .dji-lamina .dobra-02 .gallery__container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b"
                           "d e"
                           "c f";
    }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image > .gallery__image {
      width: 77px;
      height: auto;
    }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-01 { grid-area: a; }
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-02 { grid-area: b; }
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-03 { grid-area: c; }
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-04 { grid-area: d; }
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-05 { grid-area: e; }
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-06 { grid-area: f; }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-04 > .feature__description {
      max-width: 124px;
    }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-03 > .feature__description,
    .dji-lamina .dobra-02 > .gallery__container > .gallery__image-06 > .feature__description {
      max-width: 150px;
    }

    .dji-lamina .dobra-02 > .gallery__container > .gallery__image > .feature__description {
      font-size: 14px !important;
    }

    .dji-lamina .dobra-03 > .feature__content > .text__container {
      margin-top: 20px;
    }

    .dji-lamina .dobra-03 > .feature__content > .feature__title {
      font-size: 28px;
      padding: 0 21.8px;
      max-width: 350px;
      margin-bottom: -20px;
    }

    .dji-lamina .dobra-03 > .feature__content > .feature__description {
      font-size: 18px;
      padding: 0 21.8px;
    }

    .dji-lamina .dobra-04,
    .dji-lamina .dobra-08,
    .dji-lamina .dobra-11,
    .dji-lamina .dobra-13,
    .dji-lamina .dobra-14,
    .dji-lamina .dobra-16 {
      margin: 62px auto;
      padding: 0 !important;
    }

    .dji-lamina .dobra-04 > .feature__content > .video-1 video,
    .dji-lamina .dobra-08 > .feature__content > .video-4 video,
    .dji-lamina .dobra-11 > .feature__content > .video-7 video,
    .dji-lamina .dobra-13 > .feature__content > .video-9 video,
    .dji-lamina .dobra-14 > .feature__content > .showcase__gallery-image,
    .dji-lamina .dobra-16 > .feature__content > .showcase__gallery-image,
    .dji-lamina .dobra-17 > .feature__content > .showcase__gallery-image video {
      border-radius: 0 !important;
    }

    .dji-lamina .dobra-04 > .feature__content > .text__container,
    .dji-lamina .dobra-08 > .feature__content > .text__container,
    .dji-lamina .dobra-11 > .feature__content > .text__container,
    .dji-lamina .dobra-13 > .feature__content > .text__container,
    .dji-lamina .dobra-14 > .feature__content > .text__container,
    .dji-lamina .dobra-16 > .feature__content > .text__container,
    .dji-lamina .dobra-17 > .feature__content > .text__container {
      padding: 0 21.8px;
    }

    .dji-lamina .dobra-04 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-08 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-11 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-13 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-14 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-16 > .feature__content > .text__container > .feature__title,
    .dji-lamina .dobra-17 > .feature__content > .text__container > .feature__title {
      max-width: 350px;
    }

    .dji-lamina section .feature__content {
      grid-template-areas: "a a"
                           "b b";
      gap: 45px !important;
    }

    .dji-lamina section .feature__content .text__container {
      grid-area: a;
      gap: 15px !important;
    }

    .dji-lamina section .feature__content .showcase__gallery-image {
      grid-area: b;
    }

    .dji-lamina .dobra-05,
    .dji-lamina .dobra-06,
    .dji-lamina .dobra-07 {
      margin: 40px auto !important;
    }

    .dji-lamina .dobra-07 > .feature__content,
    .dji-lamina .dobra-12 > .feature__content {
      z-index: 2;
      margin-top: 65px;
      row-gap: 20px !important;
    }

    .dji-lamina .dobra-07 > .feature__content > .feature__title,
    .dji-lamina .dobra-12 > .feature__content > .feature__title {
      font-size: 28px;
    }

    .dji-lamina .dobra-07 > .feature__content > .feature__description,
    .dji-lamina .dobra-12 > .feature__content > .feature__description {
      font-size: 18px;
      max-width: 400px;
    }

    .dji-lamina .dobra-07 > .showcase__gallery-image video,
    .dji-lamina .dobra-12 > .showcase__gallery-image video {
      min-height: 460px;
      max-height: 460px;
      width: auto;
      max-width: none;
    }

    .dji-lamina .dobra-10 {
      margin: 0;
    }

    .dji-lamina .dobra-11 {
      margin-top: 40px !important;
    }

    .dji-lamina .dobra-12 {
      margin-top: 40px;
      padding: 0 !important;
    }

    .dji-lamina .dobra-12 > .feature__content > .feature__title {
      max-width: 375px;
    }

    .dji-lamina .dobra-12 > .feature__content > .feature__description {
      max-width: 350px;
    }

    .dji-lamina .dobra-15 {
      padding: 0 !important;
      margin: 40px auto;
    }

    .dji-lamina .dobra-15 > .feature__content {
      grid-template-areas: "c c"
                           "d d"
                           "b b";
      justify-items: center;      
      gap: 20px !important;
    }

    .dji-lamina .dobra-15 > .feature__content > .feature__title {
      grid-area: c;
      margin: 0;
      font-size: 34px;
      padding: 0 21.8px;
      max-width: 375px;
    }
  
    .dji-lamina .dobra-15 > .feature__content > .feature__description {
      grid-area: d;
      margin: 0;
      font-size: 18px;
      padding: 0 21.8px;
      max-width: 375px;
      margin-bottom: 20px;
    }

    .dji-lamina .dobra-15 > .feature__content > .text__container {
      display: none;
    }

    .dji-lamina .dobra-15 > .feature__content > .video-10 video {
      border-radius: 0 !important;
    }

    .dji-lamina .dobra-17 {
      margin-bottom: 90px !important;
      margin-top: 62px !important;
      padding: 0 !important;
    }

    .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description > h3 {
      font-size: 36px;
    }

    .dji-lamina .dobra-18--bg > .dobra-18 > .dobra-18--description > p {
      font-size: 20px;
      color: #ffffffc2;
    }

    .dji-lamina .dobra-19 {
      padding-bottom: 80px !important;
    }

    .dji-lamina .dobra-19.package > .feature__title {
      margin-top: 50px;
      margin-bottom: 40px;
      text-align: start;
      font-size: 22px;
    }

    .dji-lamina .dobra-19 > .package__content > .feature__title {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .dji-lamina .dobra-19 .package__gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .dji-lamina .dobra-19 .package__gallery > img {
      max-width: 137px;
      width: 100%;
    }

    .dji-lamina .dobra-25 > .feature__content {
      margin-bottom: 70px;
    }

    .dji-lamina .dobra-19 > .package__content:nth-child(3) {
      margin-top: 70px;
    }
  }

  @media screen and (max-width: 500px) {
    .dji-lamina .dobra-18--bg > .dobra-18 > .showcase__gallery-image {
      width: 110%;
    }
  }

  @media screen and (max-width: 428px) {
    .dji-lamina .dobra-01 {
      background-size: auto 100%;
    }
  }