body {
  margin: 0;
  padding: 0;
}

.pulse-lamina {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}
.pulse-lamina * {
  font-family: "Elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
.pulse-lamina h3, .pulse-lamina h4, .pulse-lamina h5, .pulse-lamina h6, .pulse-lamina p {
  margin: 0;
  padding: 0;
}
.pulse-lamina .feature__title {
  font-size: 46px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .feature__title {
    font-size: 24px;
    margin-bottom: 7px !important;
  }
}
.pulse-lamina .feature__description {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .feature__description {
    font-size: 14px;
  }
}
.pulse-lamina .card-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .card-mobile {
    display: inline;
  }
}
.pulse-lamina .image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .image {
    border-radius: 5px !important;
  }
}
.pulse-lamina .min-height-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  row-gap: 40px;
  min-height: 470px;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .min-height-text {
    min-height: 184px;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina section {
    margin: 0 11px;
  }
}
.pulse-lamina .dobra-01 .feature__content .image {
  width: 100%;
}
.pulse-lamina .dobra-01 .feature__content .feature__title {
  display: flex;
  flex-direction: column;
  line-height: 115%;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-01 .feature__content .feature__title {
    font-size: 24px;
  }
}
.pulse-lamina .dobra-01 .feature__content .feature__title span:nth-child(2) {
  color: #FFDB00;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-01 {
    margin: 0;
    min-height: 400px;
    background-image: url("./assets/images/dobra-01-pulse-torres-de-som-background-mobile.png");
    background-size: auto 100%;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-02 {
    padding-bottom: 46px;
  }
}
.pulse-lamina .dobra-02 .feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pulse-lamina .dobra-02 .feature__content .text__content {
  max-width: 1030px;
}
.pulse-lamina .dobra-03 {
  padding-top: 0;
  padding-bottom: 0;
}
.pulse-lamina .dobra-03 .feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-03 .feature__content {
    max-width: 320px;
  }
}
.pulse-lamina .dobra-03 .feature__content .text__content {
  max-width: 900px;
}
.pulse-lamina .dobra-03 .feature__content .text__content .feature__description {
  max-width: 650px;
}
.pulse-lamina .dobra-grid-two-columns {
  margin: 20px 0;
}
.pulse-lamina .dobra-grid-two-columns .feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pulse-lamina .dobra-grid-two-columns .feature__content .text__content {
  text-align: start;
  align-items: flex-start;
  padding-left: 117px;
  padding-right: 60px;
}
.pulse-lamina .dobra-grid-two-columns .feature__content .text__content .feature__title {
  text-align: start;
}
.pulse-lamina .dobra-grid-two-columns .feature__content .text__content .feature__description {
  text-align: start;
}
.pulse-lamina .dobra-04 .feature__content {
  overflow: hidden;
}
.pulse-lamina .dobra-04 .feature__content .text__content {
  max-width: 620px;
}
.pulse-lamina .dobra-04 .feature__content .text__content .feature__title {
  max-width: 340px;
}
.pulse-lamina .dobra-04 .feature__content .text__content div:nth-child(3) {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.pulse-lamina .dobra-04 .feature__content .text__content div:nth-child(3) .image {
  max-width: 150px;
}
.pulse-lamina .dobra-04 .feature__content .text__content div:nth-child(3) .feature__description {
  max-width: 170px;
}
.pulse-lamina .dobra-04 .feature__content .text__content div:nth-child(3) .feature__description span {
  font-weight: 700;
}
.pulse-lamina .dobra-05 .feature__content .text__content {
  max-width: 620px;
}
.pulse-lamina .dobra-05 .feature__content .text__content .feature__title {
  max-width: 340px;
}
.pulse-lamina .dobra-06 {
  padding-top: 0;
  padding-bottom: 0;
}
.pulse-lamina .dobra-06 .feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-06 .feature__content {
    max-width: 320px;
  }
}
.pulse-lamina .dobra-06 .feature__content .text__content .feature__title {
  max-width: 1100px;
  text-align: center;
}
.pulse-lamina .dobra-07 .feature__content .text__content {
  max-width: 900px;
}
.pulse-lamina .dobra-07 .feature__content .text__content .feature__title {
  max-width: 600px;
}
.pulse-lamina .dobra-07 .feature__content .text__content .feature__description {
  max-width: 440px;
}
.pulse-lamina .dobra-08 .feature__content .text__content {
  max-width: 900px;
}
.pulse-lamina .dobra-08 .feature__content .text__content .feature__title {
  max-width: 280px;
}
.pulse-lamina .dobra-08 .feature__content .text__content .feature__description {
  max-width: 400px;
}
.pulse-lamina .dobra-09 {
  padding-top: 0;
  padding-bottom: 0;
}
.pulse-lamina .dobra-09 .feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pulse-lamina .dobra-09 .feature__content {
    max-width: 320px;
  }
}
.pulse-lamina .dobra-09 .feature__content .text__content {
  max-width: 1050px;
}
.pulse-lamina .dobra-09 .feature__content .text__content .feature__title {
  text-align: center;
}
.pulse-lamina .dobra-09 .feature__content .text__content .feature__description {
  max-width: 650px;
}/*# sourceMappingURL=input.css.map */